{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg  navbar-dark sticky-top navbar-lacxi2" data-sticky="top">
    <div class="container">

        <a href="lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center"> <img
                src="img/icons/interface/icon-arrow-left.svg" alt="Icon" class="icon bg-white" data-inject-svg> &nbsp; Quay
            lại Trang chủ</a>

    </div>
    <!-- End container -->

</nav>
<!-- End nav -->
{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content pb-5">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>




            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>
        <section class="s-lacxi-container  o-hidden pb-0">
            <div class="text-center px-4" data-aos="flip-up" data-aos-duration="800" data-aos-delay="200">
                <img data-src="img/lacxi/nv-guilixi.png" class="img-fluid d-block mx-auto lazyload" alt="">
            </div>
        </section>

        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-gioithieu">

            <div class="container ">

                <div class="s-lacxi">

                    <div class="row justify-content-center">
                        <div class="col-lg-10">

                            <div class="row align-items-center">
                                <div class="col-12 col-md-4 d-none d-md-block">
                                    <div class="">
                                        <img data-src="img/lacxi/chuot-nv.png" width="170"
                                            class="img-fluid d-block mx-auto lazyload" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">


                                    <div class="mb-3">
                                        <h5 class="text-yellow mb-1">Gửi lì xì</h5>
                                        <div class="text-white ">
                                            - Chuyển tiền/ Gửi lì xì cho bạn bè đang có Ví MoMo.
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <h5 class="text-yellow mb-1">Giới hạn:</h5>
                                        <div class="text-white ">
                                            - Mỗi người/số điện thoại nhận lì xì chỉ được tính là 1 lần hoàn thành nhiệm
                                            vụ.
                                            <br>
                                            - Tối đa 5 lần/ngày
                                        </div>
                                    </div>

                                    <div class="mb-0">
                                        <h5 class="text-yellow mb-1">Phần thưởng nhận được:</h5>
                                        <div class="text-white">
                                            - Thêm 1 lượt lắc mới cho nhiệm vụ Chuyển tiền/Gửi lì xì
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </section>








        
        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
        data-aos-delay="200">

        <div class="container ">

            <div class="s-title h1 mt-0 mb-4 text-center">
                Ưu đãi
                <span class="text-yellow">Khách hàng mới</span>
            </div>

            <div class="s-lacxi">

                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <p class="text-white text-center mb-4">
                            Lắc hũ để trúng ngay 1 trong 4 gói quà may mắn ngay sau khi liên kết tài khoản
                        </p>

                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-6">
                                <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal2">
                                    <div class="lacxi-card-img">
                                        <img data-src="img/lacxi/angle5.png"
                                            class="img-fluid d-block mx-auto lazyload" alt="">
                                    </div>

                                    <div class="text-center mt-2 mt-lg-4">
                                     
                                        <div class="h3 text-yellow mb-0"> Gói quà ngũ quả</div>

                                    </div>

                                    <div class=" mt-2 mb-0">
                                        <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                            data-target="#user-new-modal2">
                                            <span class="h6 m-0">Xem ngay</span>
                                        </a>
                                    </div>
                                </div>
                            </div>






                        </div>


                    </div>

                </div>




            </div>


        </div>

    </section>






        {% include "layouts/thelechuongtrinh.html" %}


        {% set huongdanTitle ="Gửi lì xì" %}

        {% include "layouts/huongdan.html" %}


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">

                    <span class="text-yellow">Câu hỏi</span> thường gặp
                </div>

                <div class="s-lacxi">

                    <div class="row ">

                        <div class="col-lg-12">


                            <!-- <p class="text-white text-center mb-4">
                                    Bạn không tìm thấy câu mình muốn hỏi ở đây? <a href="https://momo.vn/hoi-dap"
                                        class="link-yellow" target="_blank">Truy cập trang Hỏi đáp</a>
                                </p> -->

                            <div class="row  justify-content-around">
                                {% for item in range(0,2) %}

                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Các cấp hạng trong
                                                game là gì? </h6>
                                        </div>
                                    </a>


                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Tại sao cần thăng
                                                hạng trong game? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Phần quà nhận
                                                được khi hoàn thành các bộ lời chúc có cùng giá trị không? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Có thể trao đổi
                                                chữ với các bạn bè của mình không? </h6>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>


                        </div>


                    </div>

                </div>




            </div>
        </section>






        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-nhiemvu">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    Các nhiệm vụ khác
                </div>

                <div class="s-lacxi s-lacxi-nv">

                    
                    {% include "layouts/hethongnhiemvu.html" %}




                </div>


            </div>

        </section>






    </div>
</div>

<div class="goback">
    <a class="goback-link" href="lacxi.html">
        <img src="img/lacxi/goback-btn.png" class="img-fluid" alt="">
    </a>
</div>


{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}


{% endblock %}