{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}


{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>




            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>



        <div class="page-content o-hidden pb-5">

            <div class="hero-container module o-hidden">

                <div class="hero-light no-click">
                    <img data-src="img/lacxi/light.png" class="img-fluid mx-auto d-block lazyload" alt=""
                        data-aos="fade-in" data-aos-delay="500" data-aos-duration="500">
                </div>

                <div class="container">

                    <div class="container position-relative">
                        <div class="lantern-parallax lantern1  no-click" data-aos="fade-in" data-aos-delay="100"
                            data-aos-duration="500">
                            <img src="img/lacxi/left_lantern.png" class="img-fluid" alt="">
                        </div>

                        <div class="lantern-parallax lantern2  no-click" data-aos="fade-in" data-aos-delay="100"
                            data-aos-duration="500">
                            <img src="img/lacxi/right_lantern.png" class="img-fluid" alt="">
                        </div>
                        <div class="hero-logo">
                            <a href="https://momo.vn/" target="_blank"> <img alt="MoMo"
                                    src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png"
                                    width="40"></a>
                        </div>
                    </div>


                    <div class="hero-title  no-click">
                        <img src="img/lacxi/lacxi-title.png" class="img-fluid mx-auto d-block" data-aos="zoom-in"
                            alt="">
                    </div>

                    <div class="hero-text pt-4">
                        <div class="row no-gutters flex-nowrap justify-content-center align-items-start">
                            <div class="col-4 col-lg-auto" data-aos="fade-right" data-aos-delay="400">
                                <img src="img/lacxi/lixi-txt1.png" width="230" class="img-fluid" alt="">
                            </div>
                            <div class="col-4 col-lg-auto rotatePhone-img" data-aos="fade-up"
                                data-aos-easing="ease-out-cubic" data-aos-duration="500" data-aos-delay="800">
                                <img src="img/lacxi/lixi-txt2-2.png" width="210" class="img-fluid d-block" alt="">
                                <img src="img/lacxi/lixi-txt2-1.png" width="210" class="img-fluid rotatePhone  d-block"
                                    alt="">
                            </div>
                            <div class="col-4 col-lg-auto" data-aos="fade-left" data-aos-delay="1200">
                                <img src="img/lacxi/lixi-txt3.png" width="210" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="hero-character d-none d-lg-flex">
                        <div class="character lan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500">

                            <div id="character-lan" class="character-item"></div>

                        </div>

                        <div class="character lan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1700">

                            <div id="character-rong" class="character-item"></div>

                        </div>

                        <div class="character"></div>

                        <div class="character lan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1900">

                            <div id="character-phung" class="character-item"></div>

                        </div>

                        <div class="character lan" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2100">

                            <div id="character-rua" class="character-item"></div>

                        </div>
                    </div>

                    <div class="hero-character d-none d-lg-none">
                        <img data-src="img/lacxi/linhthu-mobile.png" class="img-fluid mx-auto d-block lazyload" alt="">
                    </div>


                    <div class="hero-content mt-3">
                        <div class="text-center hero-txt ">
                            <div class="hero-quote shadow-sm">
                                <span class="text-white"> Và nhiều phần quà hấp dẫn khác tổng giá trị </span>
                                <strong class="h5 m-0 text-yellow">200 tỷ đồng</strong>
                            </div>

                        </div>
                        <div class="text-center countdown">
                            <div class="hero-txt text-white  countdown-txt">
                                Cùng chờ đón <img src="img/lacxi/logo-sm.png" alt="" width="90"> ngay trên ví MoMo !!!
                            </div>

                            {% include "layouts/countdown.html" %}
                        </div>
                        <!-- 
                        <script>
                            function mousedown() {
                                var el = document.getElementById("image01");
                                el.setAttribute("src", "img/lacxi/btn2.png")
                            }

                            function resetImage() {
                                var el = document.getElementById("image01");
                                el.setAttribute("src", "img/lacxi/btn1.png")
                            }
                        </script>
                        <div class="download">
                            <a href="" class="download-btn">
                                <img src="img/lacxi/btn1.png" class="img-fluid" id="image01" alt=""
                                    ontouchstart="mousedown()" onmousedown="mousedown()" onmouseup="resetImage();"
                                    ontouchend="resetImage()" onmouseleave="resetImage();">
                            </a>
                        </div>
 -->
                        <div class=" mt-3 mt-xl-3 mb-0 px-3">
                            <a href="#gioithieu" class="lacxi-btn big" data-smooth-scroll> 
                                <span class="h4 m-0 font-weight-bold">Tìm hiểu ngay</span>
                            </a>
                        </div>


                    </div>


                </div>
            </div>


            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200" id="gioithieu">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Giới thiệu về <span class="text-yellow">"Lắc Xì"</span>
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <p class="text-white">
                                    Từ ngày 17/01/2020, tính năng <strong class="text-yellow">Lắc Xì II - Tứ linh hội
                                        tụ</strong> chính thức ra mắt đến người dùng Ví Điện Tử MoMo trong dịp Tết Canh
                                    Tý 2020. Tất cả khách hàng cài đặt mới hoặc cập nhật Ứng dụng Ví MoMo trong thời
                                    gian này đều được tham gia trò chơi Lắc Xì để và nhận nhiều quà tặng khủng từ Ví
                                    MoMo, <strong class="text-yellow">tổng giá trị lên đến 200 tỷ đồng</strong>. Chương
                                    trình sẽ diễn ra đến <strong class="text-yellow">hết ngày 14/02/2020</strong> hoặc
                                    đến khi có thông báo chương trình kết thúc.


                                </p>
                            </div>

                        </div>

                        <div class="row justify-content-center mt-4">
                            <div class="col-6 col-lg-3">
                                <div class="lacxi-card-img py-3">
                                    <img data-src="img/lacxi/card-rong-min.png" width="180"
                                        class="img-fluid d-block mx-auto lazyload" alt="">
                                </div>


                            </div>

                            <div class="col-6 col-lg-3">
                                <div class="lacxi-card-img py-3">
                                    <img data-src="img/lacxi/card-lan-min.png" width="180"
                                        class="img-fluid d-block mx-auto lazyload" alt="">
                                </div>


                            </div>

                            <div class="col-6 col-lg-3">
                                <div class="lacxi-card-img py-3">
                                    <img data-src="img/lacxi/card-quy-min.png" width="180"
                                        class="img-fluid d-block mx-auto lazyload" alt="">
                                </div>


                            </div>

                            <div class="col-6 col-lg-3">
                                <div class="lacxi-card-img py-3">
                                    <img data-src="img/lacxi/card-phung-min.png" width="180"
                                        class="img-fluid d-block mx-auto lazyload" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>



            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Tính năng  <span class="text-yellow">siêu hấp dẫn</span>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-lg-11">

                            <div class="row justify-content-center">

                                {% set tns = [
                                        {
                                            "img" : "img/lacxi/tn1.png",
                                            "head" : "ĐẬP LU SĂN QUÀ",
                                            "con" : "Năm Canh Tý, chuột nhí chui vào lu gạo. Lắc thật mạnh, đập bể lu vàng để săn những phần quà hấp dẫn từ MoMo."
                                        },
                                        {
                                            "img" : "img/lacxi/tn2.png",
                                            "head" : "SƯU TẬP TỨ LINH",
                                            "con" : "Sưu tập trọn bộ Tứ Linh để mang về phần thưởng cao nhất - cùng chia 10 tỷ hay nhận quà 1 triệu. Liệu bạn có phải là Thánh Lắc Xì năm nay?"
                                        },
                                        {
                                            "img" : "img/lacxi/tn3.png",
                                            "head" : "ĐI TRỘM – BẪY TRỘM",
                                            "con" : "Độc đáo và mới mẻ: Năm nay bạn có thể đi trộm, đập trộm lu từ bạn bè. Đồng thời có thể đặt bẫy đề phòng bị trộm & giải cứu đồng bọn."
                                        },
                                        {
                                            "img" : "img/lacxi/tn4.png",
                                            "head" : "NHIỀU TÍNH NĂNG KHÁC",
                                            "con" : "Các thử thách siêu vui để tăng lượt lắc, lì xì chéo, trao tặng linh thú… và rất nhiều tính năng bí mật đang đợi bạn khám phá."
                                        }

                                    ] %}
                                {% for item in tns %}
                                <div class="col-12 col-lg-6">
                                    <div class="lacxi-qua">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-4 col-xl-5">
                                                <div class="lacxi-qua-img">
                                                    <img data-src="{{item.img}}"
                                                        class="img-fluid d-block mx-auto lazyload" alt="">
                                                </div>
                                            </div>
                                            <div class="col-8 col-xl-7 ">
                                                <div class="lacxi-qua-content text-left ml-3 ml-lg-4">
                                                    <h5 class="text-yellow font-weight-bold mb-2 mt-0">
                                                        {{item.head}}

                                                    </h5>
                                                    <div class="text-white">

                                                        {{item.con}}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}





                            </div>

                        </div>

                    </div>





                </div>

            </section>



            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        <span class="text-yellow">Quà tặng</span> siêu to khổng lồ
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-12">

                                <div class="row justify-content-center">
                                    


                                    <div class="col-12 col-lg-6 col-xl-5">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/10ty.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="200"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">CHIA 10 TỶ HAY NHẬN QUÀ 1 TRIỆU
                                                        </h6>
                                                        <div class="text-white">
                                                            Sưu tập trọn bộ Tứ Linh Thú để cùng chia 10 tỷ đồng hoặc nhận gói quà 1 triệu
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-xl-5">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/200ty.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="200"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">TỔNG GIẢI THƯỞNG 200 TỶ

                                                        </h6>
                                                        <div class="text-white">
                                                            Hàng triệu ưu đãi ăn uống, mua sắm, giải trí… miễn phí từ đối tác MoMo 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/diennuoc.png"
                                                            class="img-fluid d-block mx-auto lazyload"  width="180" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">MIỄN PHÍ ĐIỆN, NƯỚC TRỌN ĐỜI

                                                        </h6>
                                                        <div class="text-white">

                                                            Miễn phí thanh toán hoá đơn điện, nước, trong 40 năm


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/baolixi.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">LỘC VÀNG 9999

                                                        </h6>
                                                        <div class="text-white">

                                                            Tham gia sự kiện, trúng vàng miếng liền tay


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/lixi.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">BAO LÌ XÌ TIỀN TRIỆU



                                                        </h6>
                                                        <div class="text-white">

                                                            Cơ hội trúng các bao lì xì lên đến 100 triệu


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/1nam.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">MIỄN PHÍ 1 NĂM TIÊU DÙNG



                                                        </h6>
                                                        <div class="text-white">
                                                            Miễn phí 1 năm đi Siêu thị, Nhà hàng, Cà phê…



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                </div>

                            </div>

                        </div>




                    </div>

                    <!--     <div class=" mt-4 mb-0 d-none d-lg-block">
                        <a href="" class="lacxi-btn" style="background-image: url('img/lacxi/btn-bg.png')">
                            <span> Tải MoMo ngay</span>
                        </a>
                    </div> -->
                </div>

            </section>


            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Ưu đãi
                        <span class="text-yellow">Khách hàng mới</span>
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-11">
                                <p class="text-white text-center mb-4">
                                    Lắc hũ để trúng ngay 1 trong 4 gói quà may mắn ngay sau khi liên kết tài khoản


                                </p>

                                <div class="row justify-content-center">
                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle1.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà thịt mỡ
                                                </div>
                                                <div class="h3 text-yellow mb-0">500.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle2.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà bánh chưng
                                                </div>
                                                <div class="h3 text-yellow mb-0">400.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle3.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà củ kiệu
                                                </div>
                                                <div class="h3 text-yellow mb-0">300.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle4.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà dưa hành
                                                </div>
                                                <div class="h3 text-yellow mb-0">200.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>




                                </div>


                            </div>

                        </div>




                    </div>


                </div>

            </section>


        </div>
    </div>
</div>




{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}
<script>

    if (!liquidIsMobile()) {
        /* Shapes */
        var svgContainer = document.getElementById('character-lan');
        var animItem = bodymovin.loadAnimation({
            container: svgContainer,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'lottie/lan.json',
            rendererSettings: {
                progressiveLoad: true,
                preserveAspectRatio: 'xMidYMid meet'
            }
        });

        var svgContainer2 = document.getElementById('character-rong');
        var animItem2 = bodymovin.loadAnimation({
            wrapper: svgContainer2,
            animType: 'svg',
            loop: true,
            path: 'lottie/rong.json',
            rendererSettings: {
                progressiveLoad: true,
                preserveAspectRatio: 'xMidYMid meet'
            }
        });

        var svgContainer3 = document.getElementById('character-phung');
        var animItem3 = bodymovin.loadAnimation({
            wrapper: svgContainer3,
            animType: 'svg',
            loop: true,
            path: 'lottie/phung.json',
            rendererSettings: {
                progressiveLoad: true,
                preserveAspectRatio: 'xMidYMid meet'
            }
        });

        var svgContainer4 = document.getElementById('character-rua');
        var animItem4 = bodymovin.loadAnimation({
            wrapper: svgContainer4,
            animType: 'svg',
            loop: true,
            path: 'lottie/rua.json',
            rendererSettings: {
                progressiveLoad: true,
                preserveAspectRatio: 'xMidYMid meet'
            }
        });

    }

</script>




<script src="js/lodash.min.js"></script>

<script type="text/template" id="js-countdown-template">
   <div class="time <%= label %>">
     <span class="count curr top"><%= curr %></span>
     <span class="count next top"><%= next %></span>
     <span class="count next bottom"><%= next %></span>
     <span class="count curr bottom"><%= curr %></span>
     <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
   </div>
</script>

<script>
    $(window).on('load', function () {
        var labels = ['NGÀY', 'GIỜ', 'PHÚT', 'GIÂY'],
            // nextYear = (new Date().getFullYear() + 7) + '/01/01',

            nextYear = "2020/1/29";
        template = _.template($('#js-countdown-template').html()),
            currDate = '00:00:00:00',
            nextDate = '00:00:00:00',
            parser = /([0-9]{2})/gi,
            $example = $('#js-countdown');
        // Parse countdown string to an object
        function strfobj(str) {
            var parsed = str.match(parser),
                obj = {};
            labels.forEach(function (label, i) {
                obj[label] = parsed[i]
            });
            return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
            var diff = [];
            labels.forEach(function (key) {
                if (obj1[key] !== obj2[key]) {
                    diff.push(key);
                }
            });
            return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function (label, i) {
            $example.append(template({
                curr: initData[label],
                next: initData[label],
                label: label
            }));
        });
        // Starts the countdown
        $example.countdown(nextYear, function (event) {
            // var newDate = event.strftime(totalHours + '%M:%S'),
            var newDate = event.strftime('%D:%H:%M:%S'),
                data;
            if (newDate !== nextDate) {
                currDate = nextDate;
                nextDate = newDate;
                // Setup the data
                data = {
                    'curr': strfobj(currDate),
                    'next': strfobj(nextDate)
                };
                // Apply the new values to each node that changed
                diff(data.curr, data.next).forEach(function (label) {
                    var selector = '.%s'.replace(/%s/, label),
                        $node = $example.find(selector);
                    // Update the node
                    $node.removeClass('flip');
                    $node.find('.curr').text(data.curr[label]);
                    $node.find('.next').text(data.next[label]);
                    // Wait for a repaint to then flip
                    _.delay(function ($node) {
                        $node.addClass('flip');
                    }, 50, $node);
                });
            }
        });
    });
</script>
{% endblock %}