{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}



{% block content %}


<div class="page">
    <div class="page-content">
        <div class="momo-parallax fixed-top">

            <div class="momo-parallax-bg" style="background-image: url('img/lacxi/bg_lacxi.jpg');">

                <div class="mai-parallax mai1 no-click">
                    <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
                </div>

                <div class="mai-parallax mai2  no-click">
                    <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
                </div>

                <div class="pattern-parallax pattern1  no-click">
                    <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
                </div>

                <div class="pattern-parallax pattern2  no-click">
                    <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
                </div>
            </div>





            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>






        <div class="hero-container hero-container-in module o-hidden">

            <div class="hero-light no-click">
                <img data-src="img/lacxi/light.png" class="img-fluid mx-auto d-block lazyload" alt="" data-aos="fade-in"
                    data-aos-delay="500" data-aos-duration="500">
            </div>

            <div class="container">

                <div class="container position-relative">
                    <div class="lantern-parallax lantern1  no-click" data-aos="fade-in" data-aos-delay="100"
                        data-aos-duration="500">
                        <img src="img/lacxi/left_lantern.png" class="img-fluid" alt="">
                    </div>

                    <div class="lantern-parallax lantern2  no-click" data-aos="fade-in" data-aos-delay="100"
                        data-aos-duration="500">
                        <img src="img/lacxi/right_lantern.png" class="img-fluid" alt="">
                    </div>

                </div>


                <div class="hero-title  no-click">
                    <img src="img/lacxi/lacxi-title.png" class="img-fluid mx-auto d-block" data-aos="zoom-in" alt="">
                </div>

                <div class="hero-banner" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500">
                    <!-- <img src="img/lacxi/hero-desktop2-new.png" class=" d-none d-lg-block img-fluid mx-auto" alt="">
                    <div class="px-1">
                        <img src="img/lacxi/hero-mobile2-new.png" class="d-block d-block d-lg-none img-fluid mx-auto"
                            alt="">
                    </div> -->


                    <img src="img/lacxi/hero-desktop2.png" class=" d-none d-lg-block img-fluid mx-auto" alt="">
                    <div class="px-4">
                        <img src="img/lacxi/hero-mobile2.png" class="d-block d-block d-lg-none img-fluid mx-auto">
                    </div>

                    <!-- 
                <div class="hero-line d-none d-lg-block">
                    <div class="hero-line-dash"></div>
                </div> -->


                    <div class="hero-content mt-3">
                        <!--    <div class="text-center hero-txt ">
                        <div class="hero-quote shadow-sm">
                            <span class="text-white"> Và nhiều phần quà hấp dẫn khác tổng giá trị </span>
                            <strong class="h5 m-0 text-yellow">200 tỷ đồng</strong>
                        </div>
                    </div> -->
                        <!-- <div class="text-center countdown">
                        <div class="hero-txt text-white  countdown-txt">
                            Cùng chờ đón <img src="img/lacxi/logo-sm.png" alt="" width="90"> ngay trên ví MoMo !!!
                        </div>
                    </div> -->

                        <div class=" mt-3 mt-xl-3 mb-0 px-3">
                            <a href="#gioithieu" class="lacxi-btn big" data-smooth-scroll>
                                <span class="h4 m-0 font-weight-bold">Tìm hiểu ngay</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <section class="s-lacxi-container py-0  o-hidden" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="200">

                <div class="container ">


                    <div class="swiper-container swiper-banner">
                        <div class="swiper-wrapper">
                            {% for item in range(0,3) %}
                            <div class="swiper-slide">
                                <div class="banner-img">
                                    <a href="">
                                        <img src="https://cdn.tgdd.vn/2020/01/banner/desk2-800x170.jpg"
                                            class="img-fluid rounded hover-box-shadow" alt=""></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-img">
                                    <a href="">
                                        <img src="https://cdn.tgdd.vn/2019/12/banner/800-170-800x170-96.png"
                                            class="img-fluid rounded hover-box-shadow" alt=""></a>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                    </div>



                </div>

            </section>





            {% include "layouts/gioithieu.html" %}

            <section class="s-lacxi-container o-hidden aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                data-aos-duration="800" id="lacxi-thuthap">
                <div class="container ">
                    <div class="s-title h1 mt-0 mb-4 text-center">Sưu t&acirc;̣p <span class="text-yellow">Linh
                            th&uacute;</span></div>

                    <div class="s-lacxi">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <p class="text-white text-left">Tương truyền rằng, khi Tứ Linh hội tụ ở đ&acirc;u, trời
                                    đất
                                    nơi đ&oacute; sẽ thuận ho&agrave;, con người sẽ gặp nhiều ph&uacute; qu&yacute;, may
                                    mắn. Năm nay 4 lo&agrave;i Linh th&uacute;, Long &ndash; L&acirc;n &ndash; Quy
                                    &ndash;
                                    Phụng, sẽ xuất hiện tr&ecirc;n Lắc X&igrave; 2020 của V&iacute; MoMo, mang theo may
                                    mắn
                                    v&agrave; của cải gi&aacute; trị đến những người chơi sưu tập trọn bộ 4 lo&agrave;i
                                    Linh
                                    th&uacute; n&agrave;y. Tham gia game Lắc X&igrave; thật t&iacute;ch cực để thu thập
                                    trọn
                                    bộ Linh Th&uacute; v&agrave; đổi &ldquo;Thẻ lộc v&agrave;ng&rdquo; nhận giải thưởng
                                    hấp
                                    dẫn từ MoMo


                                </p>

                                <div class="row justify-content-center sm-gutters">
                                    <div class="col-3 col-md-3">
                                        <div class="lacxi-card2">
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-long">

                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-long-1.png" />
                                            </div>
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-long2">
                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-long-2.png" width="140" />
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-3 col-md-3">
                                        <div class="lacxi-card2">
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-lan">

                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-lan-1.png" />
                                            </div>
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-lan2">
                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-lan-2.png" width="140" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-3 col-md-3">
                                        <div class="lacxi-card2">
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-phung">
                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-phung-1.png" />
                                            </div>

                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-phung2">
                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-phung-2.png" width="140" />
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-3 col-md-3">
                                        <div class="lacxi-card2">
                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-quy">
                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-quy-1.png" />
                                            </div>

                                            <div class="lacxi-card2-img mb-3 hover-box-shadow shadow-none "
                                                style="cursor: pointer;" data-toggle="modal"
                                                data-target="#lacxicard-quy2">

                                                <img alt="" class="img-fluid d-block mx-auto"
                                                    src="img/card/card-quy-2.png" width="140" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <div class="modal fade modal-linhthu" id="lacxicard-long" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/2.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>

            <div class="modal fade modal-linhthu" id="lacxicard-long2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/1.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>


            <div class="modal fade modal-linhthu" id="lacxicard-lan" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/4.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>

            <div class="modal fade modal-linhthu" id="lacxicard-lan2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/8.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>



            <div class="modal fade modal-linhthu" id="lacxicard-phung" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/3.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>


            <div class="modal fade modal-linhthu" id="lacxicard-phung2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/5.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>


            <div class="modal fade modal-linhthu" id="lacxicard-quy" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/6.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>


            <div class="modal fade modal-linhthu" id="lacxicard-quy2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content ">
                        <div class="modal-header border-0">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <img src="img/icons/interface/icon-x.svg" alt="Icon">
                                </span>
                            </button>


                        </div>
                        <div class="modal-body p-0 ">

                            <img src="img/card/7.png" class="img-fluid" alt="">

                        </div>


                    </div>
                </div>
            </div>




            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
                id="lacxi-quatang">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        <span class="text-yellow">Quà tặng</span> siêu to khổng lồ
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-12">

                                <div class="row justify-content-center">



                                    <div class="col-12 col-lg-6 col-xl-5">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/10ty.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="200"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">CHIA 10 TỶ
                                                            HAY NHẬN QUÀ 1 TRIỆU
                                                        </h6>
                                                        <div class="text-white">
                                                            Sưu tập trọn bộ Tứ Linh Thú để cùng chia 10 tỷ đồng hoặc
                                                            nhận gói quà 1 triệu
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-xl-5">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/200ty.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="200"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">TỔNG GIẢI
                                                            THƯỞNG 200 TỶ

                                                        </h6>
                                                        <div class="text-white">
                                                            Hàng triệu ưu đãi ăn uống, mua sắm, giải trí… miễn phí từ
                                                            đối tác MoMo
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/diennuoc.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">MIỄN PHÍ
                                                            ĐIỆN, NƯỚC TRỌN ĐỜI

                                                        </h6>
                                                        <div class="text-white">

                                                            Miễn phí thanh toán hoá đơn điện, nước, trong 40 năm


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/baolixi.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">LỘC VÀNG 9999

                                                        </h6>
                                                        <div class="text-white">

                                                            Tham gia sự kiện, trúng vàng miếng liền tay


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/lixi.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">BAO LÌ XÌ
                                                            TIỀN TRIỆU



                                                        </h6>
                                                        <div class="text-white">

                                                            Cơ hội trúng các bao lì xì lên đến 100 triệu


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-6 col-xl-3">
                                        <div class="lacxi-qua">

                                            <div class="row no-gutters align-items-center">
                                                <div class="col-4 col-xl-12">
                                                    <div class="lacxi-qua-img">
                                                        <img data-src="img/lacxi/1nam.png"
                                                            class="img-fluid d-block mx-auto lazyload" width="180"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8 col-xl-12">
                                                    <div
                                                        class="lacxi-qua-content text-left text-xl-center ml-3 ml-xl-0">
                                                        <h6 class="text-yellow font-weight-bold mb-1 mt-3">MIỄN PHÍ 1
                                                            NĂM TIÊU DÙNG



                                                        </h6>
                                                        <div class="text-white">
                                                            Miễn phí 1 năm đi Siêu thị, Nhà hàng, Cà phê…



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                </div>

                            </div>

                        </div>




                    </div>

                    <!--     <div class=" mt-4 mb-0 d-none d-lg-block">
                        <a href="" class="lacxi-btn" style="background-image: url('img/lacxi/btn-bg.png')">
                            <span> Tải MoMo ngay</span>
                        </a>
                    </div> -->
                </div>

            </section>



            {% include "layouts/huongdan.html" %}




            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
                id="lacxi-thuthap">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Thu thập <span class="text-yellow">Linh thú</span>
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <p class="text-white text-center">
                                    Lắc lu thật tích cực để thu thập mảnh ghép 8 linh và đổi <span
                                        class="text-yellow">“Thẻ
                                        lộc”</span> cùng chia giải thưởng lên đến <span class="text-yellow">10 tỷ
                                        đồng</span> hoặc gói quà <span class="text-yellow">1
                                        triệu</span>

                                </p>


                                <div class="text-center mt-2 mt-lg-4">
                                    <div class="p-0 px-lg-3">
                                        <img data-src="img/lacxi/text10ty.png"
                                            class="d-none d-lg-block mx-auto img-fluid lazyload" alt="">

                                        <img data-src="img/lacxi/text10ty-mb.png"
                                            class="d-block d-lg-none mx-auto img-fluid lazyload  " alt="">
                                    </div>
                                </div>

                            </div>

                        </div>




                    </div>

                    <div class=" mt-4 mb-0">
                        <a href="" class="lacxi-btn">
                            <span>Xem chi tiết</span>
                        </a>
                    </div>
                </div>

            </section>






            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800"
                id="lacxi-sukien">
                <div class="container ">
                    <div class="s-title h1 mt-0 mb-4 text-center"><span class="text-yellow">Sự kiện</span> đặc biệt
                    </div>

                    <div class="s-lacxi">
                        <div class="row justify-content-center">
                            <div class="col-lg-11">
                                <p class="text-white text-center">Cơ hội tr&uacute;ng h&agrave;ng ng&agrave;n giải
                                    thưởng
                                    hấp dẫn,
                                    tổng gi&aacute; trị <strong class="text-yellow">200 tỷ đồng</strong></p>

                                <div class="row justify-content-center ">
                                    <div class="col-6 col-md-3">
                                        <div class="lacxi-card px-0 px-lg-2 ">
                                            <a href="/lixi/su-kien-khai-mac" class="link-absolute"></a>
                                            <div class="lacxi-card-img"><img alt="" class="img-fluid d-block mx-auto"
                                                    src="https://static.mservice.io/jk/lixi2/img/lacxi/sk2.png" /></div>

                                            <div class="lacxi-card-content text-center">
                                                <h6 class="text-yellow font-weight-bold mb-1 mt-3">Ng&agrave;y khai mạc
                                                    17/1
                                                </h6>

                                                <div class="text-white text-14">
                                                    Lắc xì nhận miễn phí 1 năm tiêu dùng
                                                </div>
                                            </div>

                                            <div class="mt-3 mb-0 px-0 px-lg-2"><a class="lacxi-btn"
                                                    href="/lixi/su-kien-khai-mac"><span class="h6 m-0">Xem chi
                                                        tiết</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6 col-md-3">
                                        <div class="lacxi-card px-0 px-lg-2 ">
                                            <a href="/lixi/su-kien-gio-vang" class="link-absolute"></a>
                                            <div class="lacxi-card-img"><img alt="" class="img-fluid d-block mx-auto"
                                                    src="https://static.mservice.io/jk/lixi2/img/lacxi/sk1.png" /></div>

                                            <div class="lacxi-card-content text-center">
                                                <h6 class="text-yellow font-weight-bold mb-1 mt-3">Giờ v&agrave;ng</h6>

                                                <div class="text-white text-14">
                                                    14h - 18h <br> các ngày đặc biệt
                                                </div>
                                            </div>

                                            <div class="mt-3 mb-0 px-0 px-lg-2"><a class="lacxi-btn"
                                                    href="/lixi/su-kien-gio-vang"><span class="h6 m-0">Xem chi
                                                        tiết</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3">
                                        <div class="lacxi-card px-0 px-lg-2 ">
                                            <a href="/lixi/su-kien-dem-giao-thua" class="link-absolute"></a>
                                            <div class="lacxi-card-img"><img alt="" class="img-fluid d-block mx-auto"
                                                    src="https://static.mservice.io/jk/lixi2/img/lacxi/sk3.png" /></div>

                                            <div class="lacxi-card-content text-center">
                                                <h6 class="text-yellow font-weight-bold mb-1 mt-3">Đ&ecirc;m giao thừa
                                                </h6>

                                                <div class="text-white text-14">
                                                    20h - 23h59 <br> đêm 30 Tết
                                                </div>
                                            </div>

                                            <div class="mt-3 mb-0 px-0 px-lg-2"><a class="lacxi-btn"
                                                    href="/lixi/su-kien-dem-giao-thua"><span class="h6 m-0">Xem chi
                                                        tiết</span> </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-md-3">
                                        <div class="lacxi-card px-0 px-lg-2 ">
                                            <a href="/lixi/lac-lu-via-than-tai" class="link-absolute"></a>
                                            <div class="lacxi-card-img"><img alt="" class="img-fluid d-block mx-auto"
                                                    src="https://static.mservice.io/jk/lixi2/img/lacxi/sk4.png" /></div>

                                            <div class="lacxi-card-content text-center">
                                                <h6 class="text-yellow font-weight-bold mb-1 mt-3">V&iacute;a thần
                                                    t&agrave;i</h6>

                                                <div class="text-white text-14">
                                                    10h - 12h <br> Mùng 10 Tết
                                                </div>
                                            </div>

                                            <div class="mt-3 mb-0 px-0 px-lg-2"><a class="lacxi-btn"
                                                    href="/lixi/lac-lu-via-than-tai"><span class="h6 m-0">Xem chi
                                                        tiết</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="lacxi-564">
                <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-delay="200"
                    data-aos-duration="800" id="lacxi-nhiemvu">
                    <div class="container ">
                        <div class="s-title h1 mt-0 mb-4 text-center">Nhiệm vụ <span
                                class="text-yellow">&quot;Th&ecirc;m lượt
                                lắc&quot;</span></div>

                        <div class="s-lacxi s-lacxi-nv">

                            {% include "layouts/hethongnhiemvu.html" %}



                        </div>


                    </div>

                </section>

            </div>

            {% include "layouts/thelechuongtrinh.html" %}



            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
                id="lacxi-uudai">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Ưu đãi
                        <span class="text-yellow">Khách hàng mới</span>
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center">
                            <div class="col-lg-11">
                                <p class="text-white text-center mb-4">
                                    Lắc hũ để trúng ngay 1 trong 4 gói quà may mắn ngay sau khi liên kết tài khoản


                                </p>

                                <div class="row justify-content-center">
                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle1.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà thịt mỡ
                                                </div>
                                                <div class="h3 text-yellow mb-0">500.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle2.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà bánh chưng
                                                </div>
                                                <div class="h3 text-yellow mb-0">400.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle3.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà củ kiệu
                                                </div>
                                                <div class="h3 text-yellow mb-0">300.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 col-lg-3">
                                        <div class="lacxi-card" data-toggle="modal" data-target="#user-new-modal">
                                            <div class="lacxi-card-img">
                                                <img data-src="img/lacxi/angle4.png"
                                                    class="img-fluid d-block mx-auto lazyload" alt="">
                                            </div>

                                            <div class="text-center mt-2 mt-lg-4">
                                                <div class="text-white">
                                                    Gói quà dưa hành
                                                </div>
                                                <div class="h3 text-yellow mb-0">200.000đ</div>

                                            </div>

                                            <div class=" mt-2 mb-0">
                                                <a href="#" class="lacxi-btn max-180" data-toggle="modal"
                                                    data-target="#user-new-modal">
                                                    <span class="h6 m-0">Xem ngay</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>




                                </div>


                            </div>

                        </div>




                    </div>


                </div>

            </section>


            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
                id="lacxi-cauhoi">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">

                        <span class="text-yellow">Câu hỏi</span> thường gặp
                    </div>

                    <div class="s-lacxi">

                        <div class="row ">

                            <div class="col-lg-12">


                                <!-- <p class="text-white text-center mb-4">
                                    Bạn không tìm thấy câu mình muốn hỏi ở đây? <a href="https://momo.vn/hoi-dap"
                                        class="link-yellow" target="_blank">Truy cập trang Hỏi đáp</a>
                                </p> -->

                                <div class="row  justify-content-around">
                                    {% for item in range(0,2) %}

                                    <div class="col-lg-5">
                                        <a href="#" class="question-item" data-toggle="modal"
                                            data-target="#sign-in-modal">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                                </div>
                                                <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Các cấp hạng trong
                                                    game là gì? </h6>
                                            </div>
                                        </a>


                                    </div>
                                    <div class="col-lg-5">
                                        <a href="#" class="question-item" data-toggle="modal"
                                            data-target="#sign-in-modal">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                                </div>
                                                <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Tại sao cần thăng
                                                    hạng trong game? </h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-5">
                                        <a href="#" class="question-item" data-toggle="modal"
                                            data-target="#sign-in-modal">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                                </div>
                                                <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Phần quà nhận
                                                    được khi hoàn thành các bộ lời chúc có cùng giá trị không? </h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-5">
                                        <a href="#" class="question-item" data-toggle="modal"
                                            data-target="#sign-in-modal">
                                            <div class="d-flex align-items-center">
                                                <div class="">
                                                    <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                                </div>
                                                <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Có thể trao đổi
                                                    chữ với các bạn bè của mình không? </h6>
                                            </div>
                                        </a>
                                    </div>

                                    {% endfor %}
                                </div>


                            </div>


                        </div>

                    </div>




                </div>
            </section>



            <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
                id="lacxi-tintuc">

                <div class="container ">

                    <div class="s-title h1 mt-0 mb-4 text-center">

                        <span class="text-yellow">Tin tức - sự kiện</span>
                    </div>

                    <div class="s-lacxi">

                        <div class="row justify-content-center ">
                            <div class="col-lg-11">

                                <div class="row">
                                    {% for item in range(0,6) %}

                                    <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                                        <div class="new">
                                            <a href="" class="link-absolute" data-toggle="modal"
                                                data-target="#des-modal-new"></a>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-h3-190303170926.jpg"
                                                    class="embed-responsive-img lazyload img-fluid hover-box-shadow rounded"
                                                    alt="">
                                            </div>
                                            <h6 class="text-white mt-3 mb-1 font-weight-normal">
                                                Ví MoMo công bố lễ trao giải Lắc xì - Lắc heo vàng nhận lì xì
                                            </h6>
                                            <div class="text-small text-white-50">
                                                19/11/2019
                                            </div>
                                        </div>

                                    </div>

                                    {% endfor %}
                                </div>


                                <div class="text-center">
                                    <a href="#" class="btn btn-outline-warning">Xem thêm</a>
                                </div>


                            </div>




                        </div>

                    </div>




                </div>
            </section>




            {% include "layouts/doitac.html" %}



        </div>
    </div>
</div>



{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}



{% endblock %}