{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}


{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>




            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>



        <div class="page-content o-hidden ">
            <div class="module d-flex align-items-center justify-content-center"
                style="z-index: 999; position: relative;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-5 mb-4">
                            <img src="img/lacxi/character-lan.png" alt="404 Page Not Found"
                                class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                    <div class="s-title h1 mt-0 mb-4 text-center">
                        Nội dung đang được <span class="text-yellow"> cập nhật</span>
                    </div>

                    <p class="text-white text-center lead">
                        Mình biết bạn đang háo hức nhưng chương trình sẽ được cập nhật nhanh thôi. <br>

                        Truy cập để tìm hiểu Lắc Xì 2020 bên dưới nhé
                    </p>

                    <div class="d-flex flex-column flex-sm-row justify-content-center mt-5 " data-aos="fade-up"
                        data-aos-delay="300">

                        <a href="#" class="h5 mx-sm-3 my-3 my-sm-0 link-yellow d-flex align-items-center justify-content-center text-center">
                            <span>Về trang MoMo.vn</span>
                        </a>

                        <a href="" class="lacxi-btn  w-100  mx-sm-3 my-3 my-sm-0"> 
                            <span class="h5 m-0 font-weight-bold">Tìm hiểu Lắc Xì 2020</span>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}

{% endblock %}