{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg  navbar-dark sticky-top navbar-lacxi2" data-sticky="top">
    <div class="container">

        <a href="lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center"> <img
                src="img/icons/interface/icon-arrow-left.svg" alt="Icon" class="icon bg-white" data-inject-svg> &nbsp; Quay
            lại Trang chủ</a>

    </div>
    <!-- End container -->

</nav>
<!-- End nav -->
{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content pb-5">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>




            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>
        <section class="s-lacxi-container  o-hidden pb-0">
            <div class="text-center px-4" data-aos="flip-up" data-aos-duration="800" data-aos-delay="200">
                <img data-src="img/lacxi/even-lacluvang.png" class="img-fluid d-block mx-auto lazyload" alt="">
            </div>
        </section>



        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="sukien-quatang">

            <div class="container ">

                <div class="s-lacxi">

                    <div class="row justify-content-center">
                        <div class="col-lg-12">


                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p class="text-white text-left text-lg-center">
                               

                                        Giờ vàng Lắc lu vàng trúng chỉ Vàng. Đừng bỏ lỡ khung giờ Vàng siêu đỉnh mỗi ngày từ <span class="text-yellow">11h - 12h</span class="text-yellow">, hàng triệu phần quà giá trị sẽ được thả vào Ví MoMo trong khung giờ vàng, người chơi lắc lu càng nhiều, cơ hội trúng vàng càng cao. <span class="text-yellow">Canh giờ Vàng Lắc Xì, để trúng Vàng ngay! </span>



                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-lg-11">

                                    <div class="text-center">
                                        <h5 class="text-yellow mt-4">
                                            GIẢI THƯỞNG
                                        </h5>
                                    </div>


                                    <div class="row justify-content-center align-items-end">
                                    

                                        <div class="col-12 col-md-4 ">
                                            <div class="sukien-qua  px-5 px-md-2 ">
                                                <img data-src="img/lacxi/even2-qua1.png"
                                                    class="d-block mx-auto img-fluid lazyload" width="250" alt="">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4 ">
                                            <div class="sukien-qua  px-5 px-md-2">
                                                <img data-src="img/lacxi/even2-qua2.png"
                                                    class="d-block mx-auto img-fluid lazyload"   width="250" alt="">
                                            </div>
                                        </div>

                                        
                                        <div class="col-12 col-md-4 ">
                                            <div class="sukien-qua px-5 px-md-2">
                                                <img data-src="img/lacxi/even2-qua3.png"
                                                    class="d-block mx-auto img-fluid lazyload"  width="250"  alt="">
                                            </div>
                                        </div>

                                    </div>


                                </div>




                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Điều kiện </span> và <span class="text-yellow"> điều khoản </span>
                </div>

                <div class="s-lacxi">

                    <div class="row justify-content-center">

                        <div class="col-lg-10">

                            <p class="text-white  ">

                                Giải Ngày khởi động được áp dụng cho các lượt lắc hũ thực hiện từ <span
                                    class="text-yellow">10:00:00</span> ngày <span class="text-yellow">17/01/2020</span>
                                đến <span class="text-yellow">23:59:59</span> ngày <span class="text-yellow">
                                    17/01/2020</span>.


                            </p>
                            <p class="text-white ">

                                Mỗi người chơi trúng thưởng sẽ nhận được một gói quà bao gồm <span
                                    class="text-yellow">12 thẻ quà</span> , một thẻ quà có
                                hạn sử dụng tương ứng với một trong <span class="text-yellow">12 tháng Dương lịch</span>
                                tính từ ngày người chơi nhận thẻ
                                quà

                            </p>

                            <p class="text-white ">

                                Các thẻ quà tặng không được cộng dồn cho một lần sử dụng; giá trị của thẻ quà tặng nếu
                                không sử dụng hết sẽ không được hoàn lại hoặc chuyển sang tháng tiếp theo.
                            </p>


                        </div>


                    </div>

                </div>




            </div>
        </section>




        {% include "layouts/thelechuongtrinh.html" %}



        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">

                    <span class="text-yellow">Câu hỏi</span> thường gặp
                </div>

                <div class="s-lacxi">

                    <div class="row ">

                        <div class="col-lg-12">


                            <!-- <p class="text-white text-center mb-4">
                                    Bạn không tìm thấy câu mình muốn hỏi ở đây? <a href="https://momo.vn/hoi-dap"
                                        class="link-yellow" target="_blank">Truy cập trang Hỏi đáp</a>
                                </p> -->

                            <div class="row  justify-content-around">
                                {% for item in range(0,2) %}

                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Các cấp hạng trong
                                                game là gì? </h6>
                                        </div>
                                    </a>


                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Tại sao cần thăng
                                                hạng trong game? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Phần quà nhận
                                                được khi hoàn thành các bộ lời chúc có cùng giá trị không? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Có thể trao đổi
                                                chữ với các bạn bè của mình không? </h6>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>


                        </div>


                    </div>

                </div>




            </div>
        </section>










    </div>
</div>


<div class="goback">
    <a class="goback-link" href="lacxi.html">
        <img src="img/lacxi/goback-btn.png" class="img-fluid" alt="">
    </a>
</div>


{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}


{% endblock %}