{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}

<nav class="navbar navbar-expand-lg  navbar-dark sticky-top navbar-lacxi2" data-sticky="top">
    <div class="container">

        <a href="lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center"> <img
                src="img/icons/interface/icon-arrow-left.svg" alt="Icon" class="icon bg-white" data-inject-svg> &nbsp;
            Quay
            lại Trang chủ</a>

    </div>
    <!-- End container -->

</nav>
<!-- End nav -->
{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content pb-5">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>


            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>
        <section class="s-lacxi-container  o-hidden pb-0">
            <div class="text-center px-4" data-aos="flip-up" data-aos-duration="800" data-aos-delay="200">
                <img data-src="img/lacxi/even-khaimac-title.png" class="img-fluid d-block mx-auto lazyload" alt="">
            </div>
        </section>



        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="sukien-quatang">

            <div class="container ">

                <div class="s-lacxi">

                    <div class="row justify-content-center">
                        <div class="col-lg-12">


                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <p class="text-white">


                                        Ngày 17/1/2020 Khai mạc <span class="text-yellow">LẮC XÌ</span>, MoMo chơi lớn:
                                        Cứ lắc là có quà.
                                        Chỉ cần mở Ví MoMo và lắc Lu Vàng, hàng triệu voucher tức khắc về tay: Siêu thị,
                                        Cà phê, Trà sữa, Nhà hàng… với tổng giá trị đến <span class="text-yellow">200 tỷ
                                            đồng</span>! Đặc biệt, người chơi còn có cơ hội săn thưởng 300 giải 1 năm
                                        tiêu dùng miễn phí.

                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-lg-11">


                                    <div class="row justify-content-center">






                                        <div class="col-12 col-lg-7 ">
                                            <div class="sukien-qua">
                                                <img data-src="img/lacxi/even-qua1.png"
                                                    class="d-block mx-auto img-fluid lazyload" alt="">
                                            </div>

                                            <div class="text-center mb-2">
                                                <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách trúng
                                                    giải</a>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-6 ">
                                            <div class="sukien-qua">
                                                <img data-src="img/lacxi/even-qua2.png"
                                                    class="d-block mx-auto img-fluid lazyload" alt="">
                                            </div>
                                            <div class="text-center mb-2">
                                                <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách trúng
                                                    giải</a>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-6 ">
                                            <div class="sukien-qua">
                                                <img data-src="img/lacxi/even-qua3.png"
                                                    class="d-block mx-auto img-fluid lazyload" alt="">
                                            </div>
                                            <div class="text-center mb-2">
                                                <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách trúng
                                                    giải</a>
                                            </div>
                                        </div>

                                    </div>


                                </div>




                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Even dem giao thua</span>
                </div>


                <div class="s-lacxi">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p class="text-white text-left">


                                        Đêm Giao Thừa, người chơi Lắc Xì trong khung giờ <span class="text-yellow">20h00
                                            ngày 24/1</span> đến <span class="text-yellow">1h00 ngày 25/1</span> dương
                                        lịch (tức đêm 30 Tết đến sáng mùng 1 Tết) có cơ hội rước Lộc về Ví MoMo với hàng
                                        trăm bao lì xì tiền mặt giá trị siêu khủng.
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-lg-11">
                                    <div class="text-center">
                                        <h5 class="text-yellow mt-4">GIẢI THƯỞNG</h5>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-lg-11">
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-lg-12 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            data-src="https://static.mservice.io/jk/lixi2/img/lacxi/rlx-1.png">
                                                    </div>

                                                    <h5 class="text-white text-center mb-4">Đã thuộc về khách hàng <span
                                                            class="text-yellow">NGUYEN XUAN TAM - Số Ví MoMo
                                                            xxxxxxxx381</span> </h5>
                                                </div>

                                                <div class="col-12 col-lg-6 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            src="https://static.mservice.io/images/s/momo-upload-api-200218164934-637176413749264231.png">
                                                    </div>

                                                    <div class="text-center mb-2">
                                                        <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách
                                                            trúng
                                                            giải</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800"
            id="sukien-quatang">
            <div class="container ">
                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Even ngay than tai</span>
                </div>

                <div class="s-lacxi">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p class="text-white text-left text-lg-center">Ngày Thần Tài, lộc xài không hết! Duy
                                        nhất mùng 10 Tết (tức 3/2/2020 dương lịch) Thần Tài gõ Ví MoMo với hàng trăm
                                        giải thưởng khủng, miễn phí thanh toán các dịch vụ từ 1 năm đến trọn đời. Người
                                        chơi có thể tham gia Lắc Xì trên ứng dụng Ví MoMo hoặc "hái lộc" trực tiếp tại
                                        Vạn Hạnh Mall (11 Sư Vạn Hạnh, Q.10, TP.HCM) để săn thưởng.</p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-lg-11">
                                    <div class="text-center">
                                        <h5 class="text-yellow mt-4">GIẢI THƯỞNG</h5>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-lg-11">
                                            <div class="row justify-content-center ">
                                                <div class="col-12 col-lg-7 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            data-src="https://static.mservice.io/blogscontents/momo-upload-api-200131172906-637160885466714865.png" />
                                                    </div>

                                                    <h5 class="text-white text-center mb-4">Đã thuộc về khách hàng <br>
                                                        <span class="text-yellow"> TRAN THI THAO - Số Ví MoMo
                                                            016688xxxxx</span> </h5>


                                                </div>

                                                <div class="col-12 col-lg-6 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            data-src="https://static.mservice.io/blogscontents/momo-upload-api-200201132558-637161603581547977.png" />
                                                    </div>

                                                    <div class="text-center mb-2">
                                                        <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách
                                                            trúng
                                                            giải</a>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-lg-6 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            data-src="https://static.mservice.io/blogscontents/momo-upload-api-200131173129-637160886890827640.png" />
                                                    </div>
                                                    <div class="text-center mb-2">
                                                        <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách
                                                            trúng
                                                            giải</a>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-lg-6 ">
                                                    <div class="sukien-qua"><img alt=""
                                                            class="d-block mx-auto img-fluid lazyload"
                                                            data-src="https://static.mservice.io/blogscontents/momo-upload-api-200131173202-637160887223509580.png" />
                                                    </div>

                                                    <div class="text-center mb-2">
                                                        <a href="" class="btn btn-outline-warning btn-sm">Xem danh sách
                                                            trúng
                                                            giải</a>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800"
            id="sukien-quatang">
            <div class="container ">
                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Even gio vang</span>
                </div>

                <div class="s-lacxi">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <p class="text-white text-left text-lg-center">Suốt chương trình Lắc Xì, các khung
                                        Giờ Vàng được tổ chức vào các ngày trong tuần với những giải thưởng đặc biệt, có
                                        giá trị lớn, tỷ lệ lắc xì được Linh Thú hiếm cao hơn, thu hút hàng triệu lượt
                                        lắc.
                                    </p>
                                </div>
                            </div>

                            <div class="row justify-content-center mt-4">
                                <div class="col-lg-12">
                                    <!-- <div class="text-center">
                                        <h5 class="text-yellow mt-4">GIẢI THƯỞNG</h5>
                                    </div> -->


                                    <div class="row justify-content-center ">
                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_IPHONE.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            Siêu combo Apple
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            iPhone 11 Pro Max và Tai nghe Airpods 2
                                                        </div>
                                                        <div class="text-white">
                                                            Đã thuộc về khách hàng <br>
                                                            <strong class="text-yellow">NGUYEN THI LOAN - Số Ví MoMo xxxxxxxx162</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_LiXi_50tr.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            Bao lì xì 50 triệu
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            1 bao lì xì 50.000.000đ tiền mặt
                                                        </div>
                                                        <div class="text-white">
                                                            Đã thuộc về khách hàng <br>
                                                            <strong class="text-yellow">PHAN TUẤN ANH KIỆT - Số Ví MoMo xxxxxxxx322</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_LiXi_20tr.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            Bao lì xì 20 triệu
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            1 bao lì xì 20.000.000đ tiền mặt
                                                        </div>
                                                        <div class="text-white">
                                                            Đã thuộc về khách hàng <br>
                                                            <strong class="text-yellow">NGUYEN NGOC PHUONG TRUC - Số Ví MoMo
                                                                xxxxxxx076</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_Chi Vang.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            Chỉ vàng PNJ
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            Chỉ vàng Thần Tài PNJ
                                                        </div>
                                                        <div class="text-white">

                                                            <a href="" class="btn btn-outline-warning btn-sm">Xem
                                                                danh sách
                                                                trúng
                                                                giải</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_Voucher_VNAirLines.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            15 suất bay Vietnam Airlines
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            5 suất bay nội địa + 10 suất bay quốc tế cùng Vietnam
                                                            Airlines
                                                        </div>
                                                        <div class="text-white">

                                                            <a href="" class="btn btn-outline-warning btn-sm">Xem
                                                                danh sách
                                                                trúng
                                                                giải</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_Voucher_MY TOUR.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            20 vouchers du lịch Mytour
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            20 vouchers du lịch trị giá 1 triệu đồng
                                                        </div>
                                                        <div class="text-white">

                                                            <a href="" class="btn btn-outline-warning btn-sm">Xem
                                                                danh sách
                                                                trúng
                                                                giải</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_LordMobile.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            50 bộ figure Lord Mobile
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            50 bộ figure siêu xịn của game Lord Mobile
                                                        </div>
                                                        <div class="text-white">

                                                            <a href="" class="btn btn-outline-warning btn-sm">Xem
                                                                danh sách
                                                                trúng
                                                                giải</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-6 mb-4 ">


                                            <div class="row no-gutters align-items-center aos-init aos-animate"
                                                data-aos="fade-in" data-aos-delay="250">
                                                <div class="col-4">
                                                    <div class="mb-2"><img alt=""
                                                            class="img-fluid d-block mx-auto lazyload" width="145"
                                                            src="img/qua/LACXi_ICON_Baemin.jpg">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="text-left pl-2">
                                                        <h5 class="text-yellow mb-2">
                                                            Miễn phí dịch vụ Baemin
                                                        </h5>
                                                        <div class="text-white mb-1">

                                                            2 tháng miễn phí ăn uống cùng Baemin
                                                        </div>
                                                        <div class="text-white">

                                                            <a href="" class="btn btn-outline-warning btn-sm">Xem
                                                                danh sách
                                                                trúng
                                                                giải</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Điều kiện </span> và <span class="text-yellow"> điều khoản </span>
                </div>

                <div class="s-lacxi">

                    <div class="row justify-content-center">

                        <div class="col-lg-10">

                            <p class="text-white  ">

                                Giải Ngày khởi động được áp dụng cho các lượt lắc hũ thực hiện từ <span
                                    class="text-yellow">10:00:00</span> ngày <span class="text-yellow">17/01/2020</span>
                                đến <span class="text-yellow">23:59:59</span> ngày <span class="text-yellow">
                                    17/01/2020</span>.


                            </p>
                            <p class="text-white ">

                                Mỗi người chơi trúng thưởng sẽ nhận được một gói quà bao gồm <span
                                    class="text-yellow">12 thẻ quà</span> , một thẻ quà có
                                hạn sử dụng tương ứng với một trong <span class="text-yellow">12 tháng Dương lịch</span>
                                tính từ ngày người chơi nhận thẻ
                                quà

                            </p>

                            <p class="text-white ">

                                Các thẻ quà tặng không được cộng dồn cho một lần sử dụng; giá trị của thẻ quà tặng nếu
                                không sử dụng hết sẽ không được hoàn lại hoặc chuyển sang tháng tiếp theo.
                            </p>


                        </div>


                    </div>

                </div>




            </div>
        </section>




        {% include "layouts/thelechuongtrinh.html" %}



        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">

                    <span class="text-yellow">Câu hỏi</span> thường gặp
                </div>

                <div class="s-lacxi">

                    <div class="row ">

                        <div class="col-lg-12">


                            <!-- <p class="text-white text-center mb-4">
                                    Bạn không tìm thấy câu mình muốn hỏi ở đây? <a href="https://momo.vn/hoi-dap"
                                        class="link-yellow" target="_blank">Truy cập trang Hỏi đáp</a>
                                </p> -->

                            <div class="row  justify-content-around">
                                {% for item in range(0,2) %}

                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Các cấp hạng trong
                                                game là gì? </h6>
                                        </div>
                                    </a>


                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Tại sao cần thăng
                                                hạng trong game? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Phần quà nhận
                                                được khi hoàn thành các bộ lời chúc có cùng giá trị không? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Có thể trao đổi
                                                chữ với các bạn bè của mình không? </h6>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>


                        </div>


                    </div>

                </div>




            </div>
        </section>










    </div>
</div>




<!-- 
<div class="goback">
    <a class="goback-link" href="lacxi.html">
        <img src="img/lacxi/goback-btn.png" class="img-fluid" alt="">
    </a>
</div>


 -->
<div class="goback">
    <a class="goback-link" href="lacxi.html">
        <img src="img/lacxi/goback-btn.png" class="img-fluid" alt="">
    </a>
</div>



{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}


{% endblock %}