{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/application.html' %}

{% block header %}
<nav class="navbar navbar-expand-lg  navbar-dark sticky-top navbar-lacxi2" data-sticky="top">
    <div class="container">

        <a href="lacxi.html" class="text-white py-1 m-0 font-weight-normal d-flex align-items-center"> <img
                src="img/icons/interface/icon-arrow-left.svg" alt="Icon" class="icon bg-white" data-inject-svg> &nbsp; Quay
            lại Trang chủ</a>

    </div>
    <!-- End container -->

</nav>
<!-- End nav -->
{% endblock %}

{% block content %}


<div class="page">
    <div class="page-content pb-5">
        <div class="momo-parallax" style="background-image: url('img/lacxi/bg_lacxi.jpg');">
            <div class="mai-parallax mai1 no-click">
                <img src="img/lacxi/mai1.png" class="img-fluid" alt="">
            </div>

            <div class="mai-parallax mai2  no-click">
                <img src="img/lacxi/mai2.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern1  no-click">
                <img src="img/lacxi/patternleft.png" class="img-fluid" alt="">
            </div>

            <div class="pattern-parallax pattern2  no-click">
                <img src="img/lacxi/patternright.png" class="img-fluid" alt="">
            </div>




            <canvas id="fireworks"></canvas>

            <script>

                var speed = 1;
                var minimum = 35;
                var maximum = 50;

            </script>


        </div>
        <section class="s-lacxi-container  o-hidden pb-0">
            <div class="text-center px-4" data-aos="flip-up" data-aos-duration="800" data-aos-delay="200">
                <img data-src="img/lacxi/thuthaplinhthu.png" class="img-fluid d-block mx-auto lazyload" alt="">
            </div>
        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Giới thiệu </span> chương trình
                </div>

                <div class="s-lacxi">

                    <div class="row justify-content-center">

                        <div class="col-lg-10">

                            <p class="text-white text-center ">

                                Tương truyền rằng, khi Tứ Linh hội tụ ở đâu, trời đất nơi đó sẽ thuận hoà, con người sẽ
                                gặp nhiều phú quý, may mắn. Năm nay 4 loài Linh thú, Long – Lân – Quy – Phụng, sẽ xuất
                                hiện trên Lắc Xì 2020 của Ví MoMo, mang theo may mắn và của cải giá trị đến những người
                                chơi sưu tập trọn bộ 4 loài Linh thú này. Tham gia game Lắc Xì thật tích cực để thu thập
                                trọn bộ Linh Thú và đổi “Thẻ lộc vàng” cùng chia giải thưởng lên đến 10 tỷ đồng hoặc gói
                                quà 1 triệu
                            </p>


                        </div>


                    </div>

                </div>




            </div>
        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="sukien-quatang">

            <div class="container ">
                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Quà tặng </span> chương trình
                </div>


                <div class="s-lacxi">

                    <div class="row justify-content-center">
                        <div class="col-lg-12">



                            <div class="row justify-content-center">

                                <div class="col-12 ">
                                    <div class="sukien-qua">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-3 col-lg-4 ">

                                                <div class="">
                                                    <img data-src="img/thequa/LACXi_ICON_10 Ty.png"
                                                        class="img-fluid d-block mx-auto lazyload" width="220" alt="">
                                                </div>
                                            </div>

                                            <div class="col-9 col-lg-8 ">
                                                <div class="sukien-qua-content text-left ml-3 ">
                                                    <h4 class="text-yellow font-weight-bold mb-2 mb-lg-4">Cùng chia 10
                                                        tỷ
                                                    </h4>
                                                    <div class="text-white">

                                                        <ul class="mb-0 pl-3">
                                                            <li class="mb-2">
                                                                Giá trị giải thưởng cuối cùng sẽ tuỳ thuộc vào số lượng
                                                                người ghép được Thẻ Lộc Vàng & chọn phần quà chia thưởng
                                                                10 tỷ

                                                            </li>
                                                            <li class="mb-2">

                                                                VD: Có 1.000 người ghép được Thẻ Lộc Vàng thì mỗi người
                                                                sẽ nhận được 10 triệu đồng


                                                            </li>
                                                            <li class="mb-2">
                                                                Giải thưởng sẽ được trao bằng tiền chuyển trực tiếp vào
                                                                Ví MoMo

                                                            </li>
                                                        </ul>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sukien-qua">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-3 col-lg-4 ">

                                                <div class="">
                                                    <img data-src="img/thequa/LACXi_ICON_HOP QUA.png"
                                                        class="img-fluid d-block mx-auto lazyload" width="220" alt="">
                                                </div>
                                            </div>

                                            <div class="col-9 col-lg-8 ">
                                                <div class="sukien-qua-content text-left ml-3 ">
                                                    <h4 class="text-yellow font-weight-bold mb-2 mb-lg-4">Gói quà 1
                                                        triệu đồng
                                                    </h4>
                                                    <div class="text-white">
                                                        <p>
                                                            Người chơi sẽ nhận chắc gói quà 1 triệu khi ghép được Thẻ
                                                            Lộc
                                                            Vàng và chọn phần quà 1 TRIỆU, chi tiết phần quà như sau:
                                                        </p>










                                                        <ul class="mb-0 pl-3">
                                                            <li class="mb-2">
                                                                100.000đ đi siêu thị, cửa hàng tiện lợi
                                                            </li>
                                                            <li class="mb-2">
                                                                100.000đ đi cà phê, trà sữa, nhà hàng, thức ăn nhanh
                                                            </li>
                                                            <li class="mb-2">
                                                                100.000đ thanh toán hoá đơn điện, nước, Internet…
                                                            </li>
                                                            <li class="mb-2">
                                                                50.000đ thanh toán App Store hoặc Google Play
                                                            </li>


                                                            <li class="mb-2">
                                                                50.000đ thanh toán xăng dầu
                                                            </li>
                                                            <li class="mb-2">
                                                                200.000đ mua vé máy bay, tàu xe
                                                            </li>
                                                            <li class="mb-2">
                                                                50.000đ mua vé xem phim
                                                            </li>
                                                            <li class="mb-2">
                                                                200.000đ mua sắm online (Tiki, Lazada)
                                                            </li>
                                                            <li class="mb-2">
                                                                100.000đ mua bảo hiểm
                                                            </li>
                                                        </ul>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>



        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-huongdan">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">

                    Cách đổi   <span class="text-yellow">thẻ lộc vàng</span>


                </div>

                <div class="s-lacxi">

                    <div class="row justify-content-center ">
                        <div class="col-lg-12">
                            <div class="container">

                                <div class="col-12">
                                    <div class="row manual-device-swiper-container">
                                        <div class="col-12 col-md-6 order-2 order-md-1">

                                            <div class="manual-device d-block " id="hd-sub-img-53138152"
                                                childId="53138152">

                                                <div class="manual-device-slide">
                                                    <div class="swiper-container shadow manual-device-swiper"
                                                        id="hd-sub-swp-53138152">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-12 col-md-6 order-1 order-md-2">

                                    
                                            <ol class="process list-unstyled manual-process " childId="53138152"
                                                id="hd-sub-ctn-53138152">

                                                <li class="process_item  active">
                                                    <div class="process__number">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">T&#x1EA3;i
                                                            &#x1EE9;ng
                                                            d&#x1EE5;ng V&#xED; MoMo</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Tải ứng dụng
                                                                    miễn
                                                                    ph&iacute; bằng c&aacute;ch t&igrave;m
                                                                    kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                                                                    momo&rdquo;&nbsp;tr&ecirc;n <a
                                                                        href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                                                                        Store</a> hoặc <a
                                                                        href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                                                                        Play Store</a>.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>2</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p
                                                            s&#x1ED1;
                                                            &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Mở ứng dụng
                                                                    v&agrave; nhập số điện thoại bạn muốn
                                                                    đăng
                                                                    k&yacute; V&iacute; MoMo.</span></p>

                                                            <p><span style="font-size:14px;"><em>Lưu
                                                                        &yacute;:&nbsp;</em></span><em>Số
                                                                    điện&nbsp;thoại đăng k&iacute; V&iacute;
                                                                    phải tr&ugrave;ng với số điện thoại đăng
                                                                    k&iacute; Internet Banking của
                                                                    ng&acirc;n
                                                                    h&agrave;ng bạn muốn li&ecirc;n
                                                                    kết.</em>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>3</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                                                            x&#xE1;c th&#x1EF1;c </h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Một tin nhắn
                                                                    chứa
                                                                    m&atilde; x&aacute;c thực sẽ&nbsp;gửi
                                                                    trực
                                                                    tiếp đến số điện thoại của bạn.</span>
                                                            </p>

                                                            <p><span style="font-size:14px;">Vui l&ograve;ng
                                                                    kiểm tra v&agrave; nhập ch&iacute;nh
                                                                    x&aacute;c m&atilde; x&aacute;c thực
                                                                    v&agrave;o &ocirc; &quot;Nhập m&atilde;
                                                                    x&aacute;c thực&quot; rồi nhấn
                                                                    &quot;Tiếp
                                                                    tục&quot;.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>4</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">T&#x1EA1;o
                                                            m&#x1EAD;t
                                                            kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Thiết lập mật
                                                                    khẩu
                                                                    để bảo vệ t&agrave;i khoản V&iacute;
                                                                    MoMo
                                                                    của bạn gồm 6 chữ số v&agrave; mật khẩu
                                                                    ở 2
                                                                    &ocirc; phải ho&agrave;n to&agrave;n
                                                                    giống
                                                                    nhau.<br />
                                                                    <br />
                                                                    Sau đ&oacute; bấm &quot;X&aacute;c
                                                                    nhận&quot;.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>5</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p
                                                            th&#xF4;ng
                                                            tin</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Sau khi tạo mật
                                                                    khẩu đăng nhập th&agrave;nh c&ocirc;ng,
                                                                    bạn
                                                                    nhập th&ocirc;ng tin c&aacute;
                                                                    nh&acirc;n
                                                                    theo y&ecirc;u cầu v&agrave; nhấn
                                                                    &quot;X&aacute;c nhận&quot;&nbsp;để
                                                                    ho&agrave;n tất đăng k&yacute;.</span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>



                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>


        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">
                    <span class="text-yellow"> Điều kiện </span> và <span class="text-yellow"> điều khoản </span>
                </div>

                <div class="s-lacxi">

                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <p class="text-white  ">Người chơi phải đổi 8 linh thú lấy mã dự thưởng trước 23h59 ngày 14/02/2020.</p>
                            
                            <p class="text-white ">Mỗi người chơi chỉ được ghi nhận 01 mã dự thưởng duy nhất cho giải “Thu thập đủ bộ 8 Linh Thú”</p>
                            
                            <p class="text-white ">Thông báo chính thức khách hàng trúng giải Gói quà 1 triệu và 
                                
                                <a tabindex="0" role="button"  data-container="body" data-toggle="popover"  data-trigger="focus" data-placement="top" data-content="Nếu khách hàng chọn chia tổng giải thưởng 10 tỷ đồng, giá trị tối thiểu mỗi người nhận được là 100.000đ." class="link-white" style="cursor: pointer;"> <u>
                                    Giải Cùng chia 10 tỷ đồng
                                </u> </a>
                                
                                dự kiến vào ngày 19/02/2020. Phần thưởng sẽ được gửi tới khách hàng dự kiến vào ngày 20/02/2020.</p>

                

                            <p class="text-white ">Để nhận giải, người chơi cần hoàn tất thủ tục định danh bằng cách cung cấp thông tin CMND/CCCD/Hộ chiếu &amp; chụp hình CMND/CCCD/Hộ chiếu hợp lệ trên Ví MoMo</p>
                            </div>


                    </div>

                </div>




            </div>
        </section>






        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
            id="lacxi-cauhoi">

            <div class="container ">

                <div class="s-title h1 mt-0 mb-4 text-center">

                    <span class="text-yellow">Câu hỏi</span> thường gặp
                </div>

                <div class="s-lacxi">

                    <div class="row ">

                        <div class="col-lg-12">


                            <!-- <p class="text-white text-center mb-4">
                                    Bạn không tìm thấy câu mình muốn hỏi ở đây? <a href="https://momo.vn/hoi-dap"
                                        class="link-yellow" target="_blank">Truy cập trang Hỏi đáp</a>
                                </p> -->

                            <div class="row  justify-content-around">
                                {% for item in range(0,2) %}

                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Các cấp hạng trong
                                                game là gì? </h6>
                                        </div>
                                    </a>


                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal">Tại sao cần thăng
                                                hạng trong game? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Phần quà nhận
                                                được khi hoàn thành các bộ lời chúc có cùng giá trị không? </h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-5">
                                    <a href="#" class="question-item" data-toggle="modal" data-target="#sign-in-modal">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img src="img/lacxi/icon-lu.png" width="22" alt="">
                                            </div>
                                            <h6 class="mb-0 ml-3  link-yellow font-weight-normal"> Có thể trao đổi
                                                chữ với các bạn bè của mình không? </h6>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>


                        </div>


                    </div>

                </div>




            </div>
        </section>










    </div>
</div>



<div class="goback">
    <a class="goback-link" href="lacxi.html">
        <img src="img/lacxi/goback-btn.png" class="img-fluid" alt="">
    </a>
</div>

{% endblock %}

{% block footer %}


{% endblock %}

{% block javascript %}


{% endblock %}