//Countdown

.js-countdown {
  margin: 0 auto;
  width: 310px;
}

.js-countdown .countdown-container {
  height: 90px;
}

.js-countdown .time {
  border-radius: 5px;

  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

  display: inline-block;
  text-align: center;
  position: relative;
  height: 60px;
  width: 64px;
  margin-left: 10px;
  word-spacing: 0;
  letter-spacing: normal;
  text-rendering: auto;

  perspective: 479px;

  backface-visibility: hidden;

  transform: translateZ(0);

  transform: translate3d(0, 0, 0);
}

.countdown-container .time:first-child {
  margin-left: 0;
}

.js-countdown .count {
  background: gray("900");
  color: white;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 2em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  transform: translateZ(0);

  transform-style: flat;
}

.js-countdown .count.top {
  border-radius: 5px 5px 0 0;
  height: 50%;

  transform-origin: 50% 100%;
}

.js-countdown .count.bottom {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  transform-origin: 50% 0;
}

.js-countdown .count.next {
}

.js-countdown .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 60px;
  font-size: 13px;
  width: 100%;
}

/* Animation start */
.js-countdown .count.curr.top {
  transform: rotateX(0deg);
  z-index: 3;
}

.js-countdown .count.next.bottom {
  transform: rotateX(90deg);
  z-index: 2;
}

/* Animation end */
.js-countdown .flip .count.curr.top {
  transition: all 250ms ease-in-out;

  transform: rotateX(-90deg);
}

.js-countdown .flip .count.next.bottom {
  transition: all 250ms ease-in-out 250ms;

  transform: rotateX(0deg);
}

@media (max-width: 700px) {
  .cashback-countdown-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
  }

  .js-countdown {
    margin: 0 auto;
    width: 250px;
  }

  .js-countdown .countdown-container {
    height: 90px;
  }

  .js-countdown .time {
    border-radius: 5px;

    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2),
      inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);

    display: inline-block;
    text-align: center;
    position: relative;
    height: 50px;
    width: 47px;
    margin-left: 10px;
    word-spacing: 0;
    letter-spacing: normal;
    text-rendering: auto;

    perspective: 479px;

    backface-visibility: hidden;

    transform: translateZ(0);

    transform: translate3d(0, 0, 0);
  }

  .countdown-container .time:first-child {
    margin-left: 0;
  }

  .js-countdown .count {
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 2em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    transform: translateZ(0);

    transform-style: flat;
  }

  .js-countdown .count.top {
    border-radius: 5px 5px 0 0;
    height: 50%;

    transform-origin: 50% 100%;
  }

  .js-countdown .count.bottom {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.02));

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;

    transform-origin: 50% 0;
  }

  .js-countdown .count.next {
  }

  .js-countdown .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 60px;
    font-size: 13px;
    width: 100%;
  }

  /* Animation start */
  .js-countdown .count.curr.top {
    transform: rotateX(0deg);
    z-index: 3;
  }

  .js-countdown .count.next.bottom {
    transform: rotateX(90deg);
    z-index: 2;
  }

  /* Animation end */
  .js-countdown .flip .count.curr.top {
    transition: all 250ms ease-in-out;

    transform: rotateX(-90deg);
  }

  .js-countdown .flip .count.next.bottom {
    transition: all 250ms ease-in-out 250ms;

    transform: rotateX(0deg);
  }
}
