// .navbar-toggler-close {
//   opacity: 0;
//   transform: scale(0.5) translateX(100%);
// }

// .body-menu-close .navbar-toggler {
//   .navbar-toggler-close {
//     opacity: 0;
//     transform: scale(0.5) translateX(100%);
//   }
// }

// .body-menu-opened .navbar-toggler {
//   .navbar-toggler-open {
//     opacity: 0;
//     transform: scale(0.5) translateX(-100%);
//   }

//   .navbar-toggler-close {
//     opacity: 1;
//     transform: none;
//   }
// }
.navbar-container {
  .navbar-toggler {
    outline: none;
  }
}

.dropdown-lacxi {
  .dropdown-menu {
    background: #a7002c;
    color: white;
    border-color: $yellow;
  }
  .dropdown-item {
    color: white;
    padding: 0.5rem 1.5rem;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: $yellow;
    background: transparent;
  }
}

.menu-lacxi {
  .nav-item {
    font-size: 16px;
  }
}

.navbar-brand {
  @include media-breakpoint-down(sm) {
    img {
      width: 30px;
    }
  }
}

.navbar-lacxi {
  padding: 0.5rem 1rem;
  &.is-fixed {
    background-color: rgba(#a7002c,0.9);
    color: white;
    @extend .shadow-sm;
  }
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s, background-color .2s;
  &.is-hidden{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .navbar-toggler{
    position: relative;
    &:after{
      content : "";
      position: absolute;
      background: transparent;
      width: 50px;
      height: 50px;
      top: -14px;
      left: -15px;
    }
  }

  &.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    &.active {
      color: $yellow !important;
    }
  }
  &.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]) {
    stroke: #fff !important;
  }
  &.navbar.navbar-toggled-show{
    background: rgba(#a7002c,0.9);
    color: white;
  }

  .logo-scroll{
    display: none;
  }

  &.is-fixed{
  
    @include media-breakpoint-down(md){
      background-image: url('https://static.mservice.io/images/s/momo-upload-api-200120172216-637151377367034277.png');
      background-position: center top;
      background-size: 210px auto;
      background-repeat: no-repeat;
      .logo-scroll{
        display: block;
      }
    }
  
  }


}



.hero-container.hero-container-in {
  padding-top: 100px;
  @media (max-width: 1500px) {
    padding-top: 120px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 90px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
}
