body,
html {
  //   position: relative;
  //   min-height: 100% !important;
  //   width: 100%;
  //   overflow-x: hidden;
  background: #d42452 !important;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

body {
  //   margin: 0;
  //   padding: 0;
  //   width: 100%;
  background: #fff;
  //   overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.momo-wrapper {
  position: relative;
  //   min-height: 100%;
  //   z-index: 5000;
  //   overflow: hidden;
  //   box-sizing: border-box;
  //   height: calc(100% - var(--f7-appbar-app-offset, 0px));
}

.page {
  //   box-sizing: border-box;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  transform: none;
  z-index: 1;
  //Lacxi bg
}

.page-content {
  //   overflow: auto;
  //   box-sizing: border-box;
  //   height: 100%;
  //   position: relative;
  //   z-index: 1;
  //   padding-top: 0;
  //   padding-bottom: 0;
}

.module {
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */

  min-height: calc(var(--vh, 1vh) * 100);
  //   margin: 0 auto;
}

.no-click {
  pointer-events: none;
  user-select: none;
}

.momo-parallax {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  .modal-open &{
    
  }
  .momo-parallax-bg{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  
  }
}




.mai-parallax {
  position: absolute;
  z-index: 1;
  top: 0;
}

.mai1 {
  left: -10px;
}

.mai2 {
  right: -10px;
}

.pattern-parallax {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.pattern1 {
  left: -10px;
  bottom: -10px;
}

.pattern2 {
  right: -10px;
  bottom: -10px;
}

.hero-container {
  padding-top: 60px;
  @media (max-width: 1500px) {
    padding-top: 50px;
  }
}

.hero-character {
  margin-top: -160px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .character {
    svg {
    }
  }
}

.character {
  width: 150px;
  height: 190px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  &.lan {
  }
  &.rong {
  }
  &.phung {
  }
  &.rua {
  }
}

.hero-logo {
  position: absolute;
  top: -10px;
  z-index: 9;
}

.hero-light {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  @media (max-width: 1500px) {
  }
  @include media-breakpoint-down(lg) {
    max-width: 400px;
    width: 100%;
  }
  @include media-breakpoint-down(md) {
    max-width: 350px;
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    max-width: 280px;
    width: 100%;
  }
}

.character-item {
  margin: -40px;
}

#character-lan {
}

.lantern-parallax {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.lantern1 {
  left: 0px;
  top: -10px;
}

.lantern2 {
  right: 0px;
  top: -10px;
}

.hero-content {
  color: white;
  padding: 20px 0 0;
  @media (max-width: 1500px) {
    padding: 15px 0 0;
  }
}

.countdown-txt {
  img {
    vertical-align: bottom;
    padding: 0 8px;
  }
}

.text-shadow {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.download {
  padding-top: 20px;
  text-align: center;
}

.download-btn {
  display: inline-block;
  margin: 0 auto;
  user-select: none;
  opacity: 0.8;
  transition: all 0.2s ease-in;
  @include hover-focus-active {
    opacity: 1;
  }
}

//Firework

#fireworks {
  z-index: 50;
  width: 100%;
  height: 100%;
  position: absolute;
  user-select: none;
  pointer-events: none;
}

//Animation

.loaded {
  .hero-title {
    // -webkit-perspective: 1000;
    // -webkit-backface-visibility: hidden;
    img{
      max-width: 370px;
        width: 100%;
    }
    @include animate-css(tada, 1s, infinite);
    animation-delay: 1s;
    @media (max-width: 1500px) {
      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }
}

.aos-animate {
  .section-title {
    @include animate-css(tada, 1s, 2);
    animation-delay: 1.2s;
  }
}

@keyframes rotatePhone {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  6% {
    transform: rotate(-5deg);
    transform-origin: 50% 100%;
  }
  12% {
    transform: rotate(5deg);
    transform-origin: 50% 100%;
  }
  17% {
    transform: rotate(-5deg);
    transform-origin: 50% 100%;
  }
  23% {
    transform: rotate(5deg);
    transform-origin: 50% 100%;
  }
  28% {
    transform: rotate(-5deg);
    transform-origin: 50% 100%;
  }
  34% {
    transform: rotate(5deg);
    transform-origin: 50% 100%;
  }
  39% {
    transform: rotate(0);
    transform-origin: 50% 100%;
  }
}

.rotatePhone {
  animation: rotatePhone 1.3s infinite 0s linear;
  animation-delay: 5s;
}

//Lottie

#character-lan {
  // max-width: 100%;
  // max-height: 100%;
  // background-color: red;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: auto;
}

.why-play-icon {
  background: rgba(0, 0, 0, 0.5);
  .icon {
    height: 2rem !important;
  }
  @include hover-focus() {
    background: rgba(0, 0, 0, 0.6);
  }
}

@include media-breakpoint-down(sm) {
  .fancybox-slide--video {
    padding: 0;
  }
}

.section-lacxi-container {
  padding: 120px 0;
}

.section-lacxi {
  padding: 40px 20px;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  border: 2px solid #ffff9f;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  @include media-breakpoint-down(sm) {
  }
}

.hero-txt {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}

.hero-quote {
  display: inline-block;
  border-radius: 40px;
  background: #a7002c;
  padding: 7px 20px;
  @include media-breakpoint-down(sm) {
    border-radius: 10px;
    strong {
      display: block;
    }
  }
}

.section-title-position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.section-title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  @include media-breakpoint-down(md) {
    width: 300px;
    height: 90px;
    font-size: 18px;
  }

  color: white;
}

.embed-responsive{
  overflow: hidden;
}

.embed-responsive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}


.hero-banner{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
 
  @media (max-width: 1500px) {
    img{
      max-width: 800px;
      width: 100%;
    }
  }

  @include media-breakpoint-down(lg){
    img{
      max-width: 700px;
      width: 100%;
    }
  }
}

.hero-line{
  text-align: center;
  padding: 10px 50px;
}

.hero-line-dash{
  height: 0;
  margin: 0 auto;
  border-top: 1px dashed #FEE025;
  max-width: 700px;
}