.s-lacxi-container {
  padding: 65px 0;

  @media (max-width: 1500px) {
    padding: 50px 0;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 0;
  }
}

.s-title {
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.text-yellow {
  color: $yellow;
}

.s-lacxi {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;

  background: #a7002c;
  border: 2px solid #f5ea4f;
  box-sizing: border-box;
  border-radius: 40px;
  @include media-breakpoint-down(sm) {
    border-radius: 20px;
    padding: 20px;
  }
}

.lacxi-btn {
  max-width: 234px;
  // height: 53px;

  background-image: url(../img/lacxi/btn-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;

  position: relative;
  &:before {
    content: "";
    padding-top: percentage(53/234);
  }
  margin: 0 auto;

  color: gray("900");
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    display: block;
    padding: 0 10px 3px;
  }
  @include text-truncate();

  cursor: pointer;

  transition: all 0.2s ease-in;
  @include hover-focus-active {
    box-shadow: $box-shadow;
    transform: translateY(-$spacer/3);
    color: black;
  }
  &.max-180 {
    max-width: 180px;
  }
  &.big {
    max-width: 290px;
  }
}

.link-yellow {
  color: $yellow;
  @include hover-focus-active() {
    color: darken($yellow, 5%);
  }
}

.text-14 {
  font-size: 14px;
}

.lacxi-qua {
  padding-bottom: 15px;
  padding-top: 15px;
}

.lacxi-qua-img {
  max-width: 230px;
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    max-width: 150px;
  }
}

.lacxi-qua-content {
  // max-width: 200px;
  // margin: 0 auto;
}

.cursor-none {
  cursor: initial !important;
}

.lacxi-card {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;
  .lacxi-card-img {
    // transition: all 0.2s ease-in;
  }
  @include hover-focus() {
    .lacxi-card-img {
      // box-shadow: $box-shadow;
      // transform: translateY(-$spacer/3);
    }
  }
}

.link-absolute {
}

.lacxi-card2 {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.lacxi-card-img {
}

.lacxi-tab {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.lacxi-tab-item {
  display: inline-block;
  font-size: 0;
  width: 170px;
  margin: 0 5px;
  .embed-responsive-tab {
    background-image: url("../img/lacxi/bg-tab.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }
  &.active {
    .embed-responsive-tab {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
    .lacxi-tab-name {
      color: gray("900");
    }
  }
}

.lacxi-tab-name {
  color: gray("700");
  position: absolute;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  @include text-truncate;
  font-size: 16px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.embed-responsive-tab {
  position: relative;
  .nav-link {
  }
  &::before {
    padding-top: percentage(72/228);
  }
}

.question-item {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include media-breakpoint-down(sm) {
    padding: 15px 0;
  }
}

.modal-fullscreen {
  // .modal-dialog {
  //   max-height: calc(100% - 4rem);
  // }
  // .modal-dialog {
  //   min-height: calc(100% - 4rem);
  // }
}

.modal-lacxi {
  .modal-body::-webkit-scrollbar {
    width: 10px;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 4rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 4rem);
  }

  @include media-breakpoint-down(sm) {
    .modal-body::-webkit-scrollbar {
      width: 6px;
    }
  }

  .modal-body::-webkit-scrollbar-thumb {
    background: #da7551;
    border-radius: 20px;
  }

  .modal-body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }

  .modal-content {
    background-image: url("../img/lacxi/canhmai.png");
    background-repeat: no-repeat;
    background-position: right top;

    background-color: #a7002c;
    border-radius: 20px;
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
    @include media-breakpoint-down(sm) {
      background-size: 30%;
    }
  }

  .modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .modal-header .close {
    opacity: 0.8;
    span {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7);
      display: block;
      line-height: 35px;
      display: none;
    }
    img {
      // filter: brightness(0) invert(1);
      width: 25px;
    }
  }
  .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.modal-linhthu {

  .modal-body::-webkit-scrollbar {
    width: 6px;
  }


  .modal-body::-webkit-scrollbar-thumb {
    background: #da7551;
    border-radius: 10px;
  }

  .modal-body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }


  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 4rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 4rem);
  }

  .modal-content {
    background-image: url("../img/lacxi/canhmai.png");
    background-repeat: no-repeat;
    background-position: right top;

    background-color: #a7002c;
    border-radius: 20px;
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
    @include media-breakpoint-down(sm) {
      background-size: 30%;
    }
  }

  .modal-header {
    padding: 0;
  }

  .modal-header .close {
    opacity: 0.8;
    span {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7);
      display: block;
      line-height: 33px;
    }
    img {
      // filter: brightness(0) invert(1);
      width: 25px;
    }
  }
}

.new {
  position: relative;

  @include hover-focus() {
    img {
      box-shadow: $box-shadow;
      transform: translateY(-$spacer/3);
    }
  }
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}

.table-lacxi {
  font-size: 14px;
  margin-bottom: 0;
  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  tr {
    border-bottom: none;
  }
}

@include media-breakpoint-down(sm) {
  .user-qua-modal {
    width: 100px;
  }
}

.lacxi-tab-container {
  position: relative;
  // margin-top: -65px;
  margin-bottom: -34px;
  z-index: 1;
  margin-top: 40px;
  position: relative;
}

.s-lacxi {
  .process_item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    min-height: 60px;
    flex-flow: row nowrap;
    cursor: pointer;

    .process__body-content {
      color: white;
      a {
        @extend .link-yellow;
      }
    }

    // transition: all 0.2s ease-in;
    &.active {
      .process__number {
        background: $yellow;
        span {
          color: gray("900");
        }
      }
    }

    .process__number {
    }
    .process__body-title {
      transition: all 0.2s ease-in;

      margin-top: 5px;
      margin-bottom: 5px;
    }

    &:hover,
    &.active {
      .process__body-title {
        color: color("yellow");
      }
    }

    .process__body-title {
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }

  .process__number {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    // border: 2px solid color("blue");
    border: 2px solid transparent;
    background: darken(gray("200"), 5%);

    // @extend .shadow-sm;
  }
  .process__number span {
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    // color: color("blue");
    color: gray("900");
    position: relative;
  }

  .process__body {
    flex: 1 1 0px;
    padding-left: 15px;
  }

  .process {
    .process_item:not(:last-child):before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 13px;
      top: 0;
      border-left: 1px dashed rgba(255, 255, 255, 0.4);
      z-index: -1;
    }
  }
}

.page-content {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.cta-footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  @extend .shadow;
  background: rgba(#a7002c, 0.9);
  border-top: 1px solid rgba(#a7002c, 0.2);
}

.btn-back-to-top {
  bottom: 80px;
}

.swiper-banner {
  .swiper-slide {
    width: 50%;
  }

  .banner-img {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

// h1,.h1,h2,.h2,h3,.h3{
//   font-family: 'Baloo', "Nunito", cursive;
//   font-weight: 400 !important;
// }

.nv-content-container{
  padding: 0 15px;
}

.nv-content {
  background: #fff0bd;
  color: #2c3038;
  padding: 10px 15px 5px;
  border-radius: 5px;
  font-size: 13px;
  margin: -20px auto 20px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;

  @include media-breakpoint-down(md){
    padding: 10px 10px 5px;
    font-size: 12px;
    min-height: 44px;
    margin: -20px auto 20px;
  }

  @include media-breakpoint-down(sm){
    padding: 10px 10px 5px;
    font-size: 10px;
    line-height: 1.2;
    min-height: 44px;
    margin: -15px auto 20px;
  }

  @media only screen and (max-width: 400px) {
    margin: -13px auto 20px;
  }
}


.btn-nv {
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  max-width: 290px;
  color: white;
  // font-size: 17px;
  letter-spacing: 0.5px;
  background-image: url(../img/lacxi/btn-nv.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.95;
  transition: all 0.2s ease-in;
  position: relative;
  &:before {
    content: "";
    padding-top: percentage(70/290);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: inline-block;
    padding-bottom: 8px;
  }

  @include hover-focus-active {
    // transform: translateY(-$spacer/4);
    color: $yellow;
  }
}

.list-nv {
  margin-bottom: 0;
  // font-size: 12px;
  li:not(:last-child) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 13px;

    .btn-nv {
      span {
        padding-bottom: 4px;
      }
    }
  }
}

.s-lacxi-nv {
  @include media-breakpoint-down(sm) {
    padding: 0;
    border: none;
    background: none;
    .btn-nv {
    }
  }
  .row {
    margin-right: -5px;
    margin-left: -5px;

    > .col,
    > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.s-lacxi-doitac {
  background: white;
  padding: 20px;
}

.doitac-item {
  padding: 10px 0;
  cursor: pointer;
}

.doitac-title {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.doitac-title span {
  background: #fff;
  padding: 5px 20px;
  display: inline-block;
  color: #495057;
  font-weight: 700;
}

.doitac-title:after {
  z-index: -1;
  content: "";
  width: 100%;
  top: 50%;
  height: 1px;
  background: gray("500");
  position: absolute;
  left: 0;
}

@media (min-width: 1500px) {
  .col-doitac-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-doitac-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.11111%;
    flex: 0 0 11.11111%;
    max-width: 11.11111%;
  }
}

.modal-blog-content {
  a {
    @extend .link-yellow;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.doitac-logo {
  padding: 15px 15px;
  // cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 90px;
    max-height: 40px;
  }
  &.small {
    img {
      max-width: 72px;
      max-height: 35px;
    }
  }

  &.tiny {
    img {
      max-width: 50px;
      max-height: 25px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 10px 5px;

    img {
      max-width: 60px;
      max-height: 30px;
    }
    &.small {
      img {
        max-width: 50px;
        max-height: 25px;
      }
    }
    &.tiny {
      img {
        max-width: 45px;
        max-height: 20px;
      }
    }
    // &.tiny {
    //   img {
    //     max-width: 60px;
    //     max-height: 30px;
    //   }
    // }
  }
}
