.lacxi-faq {
  .card {
    border: 1px solid #fff0bd;
  }
  .card
    > [data-toggle="collapse"][aria-expanded="true"]
    .icon
    [fill]:not([fill="none"]) {
    fill: gray("900");
  }
}

.lacxi-faq-cl {
  background: #fff0bd;
  color: gray("900");
  padding: 10px 15px;
  @include hover-focus() {
    color: gray("900");
    background: darken(#fff0bd, 5%);
  }
}

.lacxi-faq-cont {
  padding: 20px 15px;
}

.goback {
  position: fixed;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
  right: 15px;

  .goback-link {
    @include animate-css(tada, 1.5s, infinite);
    animation-delay: 2s;

    display: block;
    img {
      width: 150px;
    }
  
  }

  @include media-breakpoint-down(sm){
    bottom: 30%;
    transform: translateY(0);
    .goback-link {
      img {
        width: 90px;
      }
    }
  }

  @include media-breakpoint-down(sm){
    display: none;
  }
}
