@media (max-width: 1500px) {
  .momo-parallax {
    .mai1 {
      width: 240px;
    }

    .mai2 {
      width: 240px;
    }

    // .pattern1 {
    //   display: none;
    // }
    // .pattern2 {
    //   display: none;
    // }
  }
}

@include media-breakpoint-down(md) {
  .hero-container {
    padding-top: 25px;
  }

  .hero-logo {
    position: absolute;
    top: 0;
    z-index: 9;
  }

  .momo-parallax {
    .mai1 {
      width: 200px;
    }

    .mai2 {
      width: 200px;
    }

    .pattern1 {
      display: none;
    }
    .pattern2 {
      display: none;
    }
  }

  .section-lacxi-container {
    padding: 50px 0;
  }

  .hero-txt {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .section-lacxi {
    padding: 15px;
    padding-top: 40px;
    margin: 0 auto;
    position: relative;
    border: none;
    border-radius: 0;
    background: transparent;
    @include media-breakpoint-down(sm) {
    }
  }

  .lantern-parallax {
    display: none !important;
  }
  .hero-title {
    max-width: 220px;
    margin: 0 auto;
  }

  .download {
    padding-top: 0;
  }
  .download-btn {
    max-width: 260px;
    margin: 0 auto;
  }

  .hero-text {
    img {
      max-width: 100% !important;
      width: auto !important;
    }
  }

  .hero-character {
    margin-top: -50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .character {
      svg {
      }
    }
  }

  .character {
    width: 70px;
    height: 89px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    &.lan {
    }
    &.rong {
    }
    &.phung {
    }
    &.rua {
    }
  }

  .character-item {
    margin: -30px;
  }

  .hero-content {
    color: white;
    padding: 5px 0 0;
  }
}

@include media-breakpoint-down(sm) {
  .hero-title {
    max-width: 180px;
    margin: 0 auto;
  }

}

//   body,
//   html {
//     position: relative;
//     height: 100% ;
//     width: 100%;
//     overflow-x: hidden;
//   }

//   body {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     background: #fff;
//     overflow: hidden;
//     -webkit-text-size-adjust: 100%;
//     -webkit-font-smoothing: antialiased;
//   }

//   .momo-wrapper {
//     position: relative;
//     // min-height: 100%;
//     z-index: 5000;
//     overflow: hidden;
//     box-sizing: border-box;
//     // height: calc(100% - var(--f7-appbar-app-offset, 0px));
//     height: 100%;
//   }

//   .page {
//     box-sizing: border-box;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     transform: none;
//     z-index: 1;
//     //Lacxi bg

//   }

//   .page-content {
//     overflow: auto;
//     box-sizing: border-box;
//     height: 100%;
//     position: relative;
//     z-index: 1;
//     padding-top: 0;
//     padding-bottom: 0;
//     -webkit-overflow-scrolling: auto;
//   }

// }


@include media-breakpoint-down(sm){
  .momo-parallax {
    .mai1 {
      width: 120px;
    }

    .mai2 {
      width: 120px;
    }
  }
}