.sukien-qua {
  padding-bottom: 15px;
  padding-top: 15px;
}

.sukien-qua-content {
  // max-width: 200px;
  // margin: 0 auto;
  font-size: 14px;
}




.navbar-lacxi2 {
  padding: 0.5rem 1rem;

  background: rgba(#a7002c,0.9);
  color: white;
  @extend .shadow-sm;

  &.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    &.active {
      color: $yellow !important;
    }
  }
  &.navbar-dark .navbar-toggler svg [stroke]:not([stroke="none"]) {
    stroke: #fff !important;
  }
  &.navbar.navbar-toggled-show{
    background: rgba(#a7002c,0.9);
    color: white;
  }

  @include media-breakpoint-up(md){
    display: none;
  }

  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s,-webkit-transform .5s;
  &.is-hidden{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

}


.popover-body {
  padding: 10px;
  font-size: 14px;
}

.sk-qua{

}




