.survey-select {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid rgba($yellow, 0.3);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  z-index: 1;
  max-width: 204px;
  margin: 0 auto;
  height: 100%;
  @include hover-focus() {
    @extend .shadow;

    transform: translateY(-3px);
  }

  &.is-active {
    border: 2px solid rgba($yellow, 1) !important;
    .survey-select-check {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.survey-select-check {
  width: 30px;
  height: 30px;
  background: #faff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease-in;
}

.modal-survey {
  .modal-header .close span {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-content {
    background-image: url("../img/lacxi/canhmai2.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30%;
    @include media-breakpoint-down(sm) {
      background-size: 30%;
    }
  }
}

.chart-canvas {
  margin-left: auto;
  margin-right: auto;
}

.survey-loading {
  display: none;
}

.hero-kq {
  padding-top: 0;
  text-align: center;
}

.hero-kq-bg {
  // text-align: left;
  // padding: 15px;
  // background: rgba(0, 0, 0, 0.2);
  // border-radius: 10px;
  // border: 2px solid rgba(250, 255, 0, 0.3);
  // cursor: pointer;
  // transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  // position: relative;
  // z-index: 1;
  // margin: 0 auto;
  // height: 100%;
  // text-align: center;
  // color: white;
  // display: inline-block;
  // white-space: nowrap;
  // @include media-breakpoint-down(sm){
  //   padding: 5px;
  //   border-radius: 5px;
  // }
}

.hero-kq-item {
  margin-top: 30px;
   text-align: left;
  padding: 20px 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid rgba(250, 255, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  z-index: 1;
  // height: 100%;
  text-align: center;
  color: white;
  // display: inline-block;
  // white-space: nowrap;
  
  &.co-mt{
    margin-top: 100px;
  }

  @include media-breakpoint-down(md){
    padding: 5px;
    margin-top: 20px;
   
    border-radius: 5px;
    &.co-mt{
      margin-top: 20px;
    }
  }
}

.hero-ks-hm{
  text-align: left;
  @include media-breakpoint-down(md){
    padding-top: 60px;
    text-align: center;
    .no-click{
      text-align: center;
      img{
        margin: 0 auto;
      }
    }
  }

}

.btn-km-new{
  background: #a7002c;
  border: 2px solid #f5ea4f;
}

.hero-kq-h1{
  line-height: 1.4;
}

.hero-kq-item {
  // padding: 0 10px;
  // width: 300px;
  // white-space: nowrap;
  @include media-breakpoint-down(sm){
    text-align: center;
  }

  
}

.hero-kq-icon{
  img{
    height: 70px;
  }
}



@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
.hero-kq-font{
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
}

.font-oswald{
  font-family: 'Oswald', sans-serif;
}

.survey-select2 {
}

.kq-form {
  .form-control {
    color: white;
    background-color: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.2);
    &::placeholder{
      color: rgba(255,255,255,0.7);
    }
  }
}



.loaded {
  .hero-title2 {
    // -webkit-perspective: 1000;
    // -webkit-backface-visibility: hidden;
    img{
      // max-width: 370px;
      //   width: 100%;
    }
    @include animate-css(tada, 1s, infinite);
    animation-delay: 1s;
    // @media (max-width: 1500px) {
    //   img {
    //     max-width: 300px;
    //     width: 100%;
    //   }
    // }
  }
}


.quote-author{
  margin-top: 15px;
  padding: 0 15px;

}

.quote{
  padding-bottom: 30px;
}

.quote-content{
  position: relative;
  font-size: 17px;
  font-weight: 400;
    line-height: 26px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.1);
    // border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 15px 20px;

    @include media-breakpoint-down(sm){
      font-size: 14px;
    }
}

.text-12{
  font-size: 12px;
}

.quote-icon{
  position: absolute;
    top: -47px;
    left: -14px;

  @include media-breakpoint-down(md){
    display: none;
  }

}

.quote-author-avatar{

}

.quote-author-name{

}


@mixin text-row($num, $height) {
  max-height: $height * 1px;
  overflow: hidden ;
  text-overflow: ellipsis ;
  display: -webkit-box;
  -webkit-line-clamp: $num ;
  -webkit-box-orient: vertical ;
}


.txt-s1{
  @include text-row(3,54);
  min-height: 54px;
}

.quote-swiper{
  .swiper-pagination{
    bottom: 0;
  }
}

.text-s-2{
  font-size: 15px;
  @include media-breakpoint-down(md){
    font-size: 14px;
  }
}