{% import "macros/macros.html" as macros %}


<!doctype html>
<html lang="en">

<head>
    <!-- Describes the encoding of the page to the browser -->
    <meta charset="utf-8">

    <!-- Sets the title of the page.  Shown in the tab of your browser -->
    <title>Desmond template</title>

    <!-- Required for Bootstrap's responsive media queries to function -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tag for basic SEO -->
    <meta name="description" content="Momo">

    {% if preloader %}
    <!-- Start Page Loader -->
    <style>
        @keyframes hideLoader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.loader {
            position: fixed;
            background: #d42452;
            width: 100%;
            height: 100%;
            z-index: 9999;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.loader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.loader {}

        .loading-animation {
            width: 88px;
            height: 88px;
            margin: 100px auto;
            border-radius: 100%;
        }
    </style>

    <!-- End loading animation -->
    {% endif %}


    {% block head %}

    {% endblock %}
    <!-- Main Theme CSS styles -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Font linked from external Google Fonts resource -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap&subset=latin-ext,vietnamese" rel="stylesheet"> -->
    <script>

        var liquidIsMobile = function liquidIsMobile() {
            return (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
            );
        };

        if (liquidIsMobile()) {
            document.documentElement.classList.add("mobile")
        }

    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



</head>

<body {{ ' class="page-boxed"' | safe if page_boxed }} data-smooth-scroll-offset="35" data-offset="120"
    data-spy="scroll" data-target=".menu-lacxi">
    <!-- Main Nav Bar -->



    {% if preloader %}
    <!-- Start Loader -->
    {% include "layouts/loading.html" %}
    <!-- End Loader -->
    {% endif %}

    {% block header %}
    {% include "layouts/header.html" %}
    {% endblock %}



    <div class="momo-wrapper">

        <!-- Main Body Content -->
        {% block content %}


        {% endblock %}


    </div>

    {% include "layouts/modal.html" %}

    {% include "layouts/survey.html" %}
    <!-- Footer -->

    {% block footer %}
    {% include "layouts/footer.html" %}
    {% endblock %}


    <!-- "Back to top" button -->

    {% if to_top %}
    <a href="#top" class="btn btn-light  rounded-circle btn-back-to-top shadow-sm border" data-smooth-scroll
        data-smooth-scroll-offset="120px" data-aos="fade-up" data-aos-offset="1800" data-aos-mirror="true"
        data-aos-once="false">
        <img src="img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon" data-inject-svg>
    </a>
    {% endif %}

    <div class="cta-footer fixed-bottom" data-aos="fade-up" data-aos-offset="800" data-aos-mirror="true"
        data-aos-once="false">
        <div class="container p-3">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="row  align-items-center">
                        <div class="col text-left">
                            <div class="text-white">Chơi Lắc Xì - Nhận ngay hàng ngàn quà tặng </div>
                        </div>
                        <div class="col-auto">
                            <a href="" class="btn btn-warning rounded-lg btn-sm" style="">
                                <span class="h6 m-0 p-0">Tải MoMo ngay</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script type="text/javascript" src="js/lazysizes.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>

    <!-- <script type="text/javascript" src="js/lottie.min.js"></script> -->

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->


    <!-- GSAP NEW PLUGIN -->
    <!-- <script type="text/javascript" src="js/gsap.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/TweenMax.min.js"></script> -->

    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->

    <script type="text/javascript" src="js/aos.js"></script>

    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <!-- <script type="text/javascript" src="js/clipboard.min.js"></script> -->

    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>


    <!-- Flatpickr (calendar/date/time picker UI) -->
    <!-- <script type="text/javascript" src="js/flatpickr.min.js"></script> -->

    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <!-- <script type="text/javascript" src="js/flickity.pkgd.min.js"></script> -->

    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <!-- <script type="text/javascript" src="js/ion.rangeSlider.min.js"></script> -->

    <!-- Isotope (masonry layouts and filtering) -->
    <!-- <script type="text/javascript" src="js/isotope.pkgd.min.js"></script> -->

    <!-- jarallax (parallax effect and video backgrounds) -->
    <!-- <script type="text/javascript" src="js/jarallax.min.js"></script>
    <script type="text/javascript" src="js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="js/jarallax-element.min.js"></script> -->

    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>

    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="js/plyr.polyfilled.min.js"></script>

    <!-- Prism (displays formatted code boxes) -->
    <!-- <script type="text/javascript" src="js/prism.js"></script> -->

    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="js/scrollMonitor.js"></script>

    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="js/smooth-scroll.polyfills.min.js"></script>

    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="js/svg-injector.umd.production.js"></script>

    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <!-- <script type="text/javascript" src="js/twitterFetcher_min.js"></script> -->

    <!-- Typed text (animated typing effect)-->
    <!-- <script type="text/javascript" src="js/typed.min.js"></script> -->


    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="js/theme.js"></script>

    <script type="text/javascript" src="js/swiper.min.js"></script>

    <script src='js/countup.js'></script>


    <script type="text/javascript" src="js/custom.js"></script>

    <!-- <script type="text/javascript" src="js/firework.js"></script> -->

    <!-- <script type="text/javascript" src="js/animation.js"></script> -->

    <!-- <script type="text/javascript" src="js/modernizr.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquerypp.custom.js"></script> -->
    <!-- <script type="text/javascript" src="js/jquery.bookblock.js"></script> -->

    <!-- <script type="text/javascript" src="js/custom.js"></script> -->

    <!-- Scripts -->
    {% block javascript %}

    {% endblock %}

    <script>

        // $('#kq-modal3').modal('show');

        $("#ks-tracuu").on("click", function(e){
            e.preventDefault();
            var ran = Math.floor(Math.random() * 3) + 1; 
            console.log(ran);

            $('#kq-modal'+ran).modal('show');
        })

        $('.survey-select').on("click", function () {
            var $this = $(this);
            if ($this.hasClass('is-active')) return;
            $('.survey-select').removeClass('is-active');
            $this.addClass('is-active');
        });

        $('#survey-result-btn').on('click', function () {
            $('#Collapse1').collapse('hide');
            $('.survey-loading').show();
            setTimeout(function () {
                $('#Collapse2').collapse('show');
                $('.survey-loading').hide();
            }, 3000)
        });

        var real1= 4225;
        var real2= 1222;

        $('#Collapse2').on('shown.bs.collapse', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                        real1, real2
                        ],
                        borderColor: '#a7002c',

                        backgroundColor: [
                            "#faff00", "#93ca08"
                        ],

                        hoverBackgroundColor: ["#faff00", "#93ca08"],
                        borderWidth: 6,
                        hoverBorderColor: "transparent"
                    }],
                    labels: [
                        'Cùng chia 10 tỷ',
                        'Nhận ngay 1 triệu'
                    ]
                },
                options: {
                    responsive: true,
                    cutoutPercentage: 60,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            title: function (a, t) {
                                return t.labels[a[0].index]
                            },
                            label: function (a, t) {
                                return t.datasets[0].data[a.index] + " người"
                            }
                        },
                        backgroundColor: "transparent",
                        titleFontSize: 11,
                        bodyFontColor: "#fff",
                        bodyFontSize: 14,
                        bodyFontStyle: "bold",
                        bodySpacing: 0,
                        yPadding: 0,
                        xPadding: 0,
                        yAlign: "center",
                        xAlign: "center",
                        footerMarginTop: 5,
                        displayColors: !1
                    }
                }
            });



            var easeOutCubic = function (t, b, c, d) {
                var ts = (t /= d) * t;
                var tc = ts * t;
                return b + c * (1.77635683940025e-15 * tc * ts + 0.999999999999998 * tc + -3 * ts + 3 * t);
            };
            var options = {
                easingFn: easeOutCubic
            };
            var creal1 = new CountUp("numberReal1", real1-200, real1, 0, 10, options);
            creal1.start();

            var creal2 = new CountUp("numberReal2", real2-200, real2, 0, 10, options);
            creal2.start();
        })


    </script>



</body>

</html>