<section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800"
    id="lacxi-doitac">
    <div class="container ">
        <div class="s-title h1 mt-0 mb-4 text-center"><span class="text-yellow">Đối t&aacute;c</span> đồng h&agrave;nh
        </div>

        <div class="s-lacxi s-lacxi-doitac">
            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/Circle K.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/lottemart.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/Share Tea.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_7-eleven.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_PNJ.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_ABTrip.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_BAEMIN.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Bảo-Việt.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Careplus.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_CGV.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_ComNgonLauCongChua-LongMonaco.png" />
                    </div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Coolmate.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Elsa.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Fim.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Fincheck.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Funtap.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_GalaxyCinema.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_GALAXYPLAY.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Gamota.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_GS25.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_IASO.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_I-Cool.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Indyfriend.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Jio-Health.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_JupViec.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_KING-COFFEE.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Liberty.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Lottle-Cinema.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Luxstay.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Ministop.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Mytour.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Phuc-Long.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_PVI.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_RedDoorz.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Sohagame.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Soya-Garden.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_The-Coffee-House2.png" />
                    </div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_The-Pizza-Company.png" />
                    </div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Tiki.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac/VVIP_Toocha.png" /></div>
                </div>
            </div>

            <hr class="my-3 my-md-5" />
            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/bolero.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/coopfood.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/coopmart.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/coopmart2.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/coopxtra.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/Dairy Queen.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/finelife.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/ganuongooo.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/Lens Nice.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/swensens.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Chang.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Ciao Cafe.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_DollEyes.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_FlyCupcake.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Nambentô.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Quan-An.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Ro22.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Speed-L.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo small"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac2/VVIPGr_Terrace.png" /></div>
                </div>
            </div>

            <hr class="my-3 my-md-5" />
            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/boo.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/foodhouse.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/fptplay.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/kcong.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_VTVCab.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/terracoffee.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/touslesjourslogo-1.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/vietnamairlines.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Alfresco.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Anbooking.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BanhMyQue.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BaskinRobbins.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BeautyFriend.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BeautyRepublic.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BHD.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Bobapop.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BSMART.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_BurgerKing.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Cashwagon.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_DominoPizza.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Game-LordMobile.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_GangNam.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Gemini.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_GIC.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_HaiSan3YeuTinh.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Hecka.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Hoa18.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Hong-Hanh.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_iBasic.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Karcher.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_KKday_Logo.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Lau-Bo-SaiGon.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Mr.Phui.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_mymart.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_NiNomax.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_PEPPERONI.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Popeyes.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_S_B.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Smoothie.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Suoi-Tien.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_SushiBar.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Thai-deli.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Thienhoa.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_TocoToco.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Traveloka.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_VIE-Limosine.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Waynes.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Wrap_roll.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_YellowCabPizza.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Yi-Fang.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Yogen_Fruz.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/VIP_Vissan.png" /></div>
                </div>

                <div class="col-auto">
                    <div class="doitac-logo tiny"><img alt="" class="img-fluid mx-auto d-block lazyload"
                            data-src="https://static.mservice.io/jk/lixi2/img/doitac3/yochicken.png" /></div>
                </div>
            </div>
        </div>
    </div>
</section>