<section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
    id="lacxi-doitac">

    <div class="container ">

        <div class="s-title h1 mt-0 mb-4 text-center">

            <span class="text-yellow">Đối tác</span> đồng hành
        </div>

        <div class="s-lacxi s-lacxi-doitac">

            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                {% set logo1 = [
                        "Circle K",
                        "Share Tea",
                        "VVIP_ABTrip",
                        "VVIP_PNJ",
                        "VVIP_BAEMIN",
                        "VVIP_Bảo-Việt",
                        "VVIP_Careplus",
                        "VVIP_ComNgonLauCongChua-LongMonaco",
                        "VVIP_Coolmate",
                        "VVIP_Elsa",
                        "VVIP_Fim",
                        "VVIP_Fincheck",
                        "VVIP_Funtap",
                        "VVIP_GalaxyCinema",
                        "VVIP_Gamota",
                        "VVIP_IASO",
                        "VVIP_I-Cool",
                        "VVIP_Indyfriend",
                        "VVIP_Jio-Health",
                        "VVIP_JupViec",
                        "VVIP_KING-COFFEE",
                        "VVIP_Liberty",
                        "VVIP_Lottle-Cinema",
                        "VVIP_Luxstay",
                        "VVIP_Mytour",
                        "VVIP_Phuc-Long",
                        "VVIP_PVI",
                        "VVIP_RedDoorz",
                        "VVIP_Sohagame",
                        "VVIP_Soya-Garden",
                        "VVIP_The-Coffee-House2",
                        "VVIP_The-Pizza-Company",
                        "VVIP_Tiki",
                        "VVIP_Toocha"
                    ] 
                %}
                {% for lg1 in logo1 %}
                <div class="col-auto">
                    <div class="doitac-logo">
                        <img data-src="img/doitac/{{lg1}}.png" class="img-fluid mx-auto d-block lazyload" alt="">
                    </div>
                </div>

                {% endfor %}

            </div>

            <hr class="my-3 my-md-5">
        

            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                {% set logo2 = [
                        "bolero",
                        "lottemart",
                        "VVIPGr_Speed-L",
                        "coopfood",
                        "coopmart",
                        "coopmart2",
                        "coopxtra",
                        "finelife",
                        "Dairy Queen",
                        "ganuongooo",
                        "swensens",
                        "VVIPGr_Chang",
                        "VVIPGr_Ciao Cafe",
                        "VVIPGr_DollEyes",
                        "Lens Nice",
                        "VVIPGr_FlyCupcake",
                        "VVIPGr_Nambentô",
                        "VVIPGr_Quan-An",
                        "VVIPGr_Ro22",
                        "VVIPGr_Terrace",
                        "yochicken"
                    ] 
                %}
                {% for lg2 in logo2 %}
                <div class="col-auto">
                    <div class="doitac-logo small">
                        <img data-src="img/doitac2/{{lg2}}.png" class="img-fluid mx-auto d-block lazyload" alt="">
                    </div>
                </div>

                {% endfor %}

            </div>

            <hr class="my-3 my-md-5">
        

            <div class="row no-gutters align-items-center mb-4 justify-content-center">
                {% set logo3 = [
                        "VVIP_CGV",
                        "VVIP_7-eleven",
                        "VVIP_GS25",
                        "VVIP_Ministop",
                        "VIP_Robins",
                        "boo",
                        "foodcenter",
                        "foodstreet",
                        "foodhouse",
                        "fptplay",
                        "kcong",
                        "VIP_VTVCab",
                        "terracoffee",
                        "touslesjourslogo-1",
                        "vietnamairlines",
                        "VIP_Alfresco",
                        "VIP_Anbooking",
                        "VIP_BanhMyQue",
                        "VIP_BaskinRobbins",
                        "VIP_BeautyFriend",
                        "VIP_BeautyRepublic",
                        "VIP_BHD",
                        "VIP_Bobapop",
                        "VIP_BSMART",
                        "VIP_BurgerKing",
                        "VIP_Cashwagon",
                        "VIP_DominoPizza",
                        "VIP_Game-LordMobile",
                        "VIP_GangNam",
                        "VIP_Gemini",
                        "VIP_GIC",
                        "VIP_HaiSan3YeuTinh",
                        "VIP_Hecka",
                        "VIP_Hoa18",
                        "VIP_Hong-Hanh",
                        "VIP_iBasic",
                        "VIP_Karcher",
                        "VIP_KKday_Logo",
                        "VIP_Lau-Bo-SaiGon",
                        "VIP_Mr.Phui",
                        "VIP_mymart",
                        "VIP_NiNomax",
                        "VIP_PEPPERONI",
                        "VIP_Popeyes",
                        "VIP_S_B",
                        "VIP_Smoothie",
                        "VIP_SushiBar",
                        "VIP_Thai-deli",
                        "VIP_Thienhoa",
                        "VIP_TocoToco",
                        "VIP_Traveloka",
                        "VIP_VIE-Limosine",
                        "VIP_Waynes",
                        "VIP_Wrap_roll",
                        "VIP_YellowCabPizza",
                        "VIP_Yi-Fang",
                        "VIP_Yogen_Fruz",
                        "VIP_Vissan"  
                    ] 
                %}
                {% for lg3 in logo3 %}
                <div class="col-auto">
                    <div class="doitac-logo tiny">
                        <img data-src="img/doitac3/{{lg3}}.png" class="img-fluid mx-auto d-block lazyload" alt="">
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>




</section>