<section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800"
data-aos-delay="200" id="gioithieu">

<div class="container ">

    <div class="s-title h1 mt-0 mb-4 text-center">
        Giới thiệu về <span class="text-yellow">"Lắc Xì"</span>
    </div>

    <div class="s-lacxi">

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <p class="text-white">
                    Từ ngày 17/01/2020, tính năng <strong class="text-yellow">Lắc Xì II - Tứ linh hội
                        tụ</strong> chính thức ra mắt đến người dùng Ví Điện Tử MoMo trong dịp Tết Canh
                    Tý 2020. Tất cả khách hàng cài đặt mới hoặc cập nhật Ứng dụng Ví MoMo trong thời
                    gian này đều được tham gia trò chơi Lắc Xì để và nhận nhiều quà tặng khủng từ Ví
                    MoMo, <strong class="text-yellow">tổng giá trị lên đến 200 tỷ đồng</strong>. Chương
                    trình sẽ diễn ra đến <strong class="text-yellow">hết ngày 14/02/2020</strong> hoặc
                    đến khi có thông báo chương trình kết thúc.


                </p>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7 mt-2 mt-lg-4">
                <!-- <div class="d-flex position-relative align-items-center justify-content-center rounded shadow-lg">
                    <img class="rounded img-fluid" src="img/lacxi/video-thumb.jpg" alt="Video cover image">


                    <a data-fancybox="" href="https://www.youtube.com/watch?v=qcgOmBH5lqo" class="btn btn-lg btn-light rounded-circle position-absolute why-play-icon ">
                        <img src="img/icons/interface/icon-media-play.svg" alt="Media Play Icon" class="icon icon-lg bg-white pl-1" data-inject-svg="">
                    </a>
                </div> -->
                <style>
                .embed-responsive-youtube::before {
                padding-top: 56.25%; }
                
                </style>
                <div class="embed-responsive embed-responsive-youtube">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qcgOmBH5lqo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

            </div>

        </div>

        <!-- <div class="text-center mt-2 mt-lg-4">
            <div class="p-0 px-lg-3">
                <img data-src="img/lacxi/930x270.png" class="d-none d-lg-block mx-auto img-fluid lazyload rounded shadow-sm" alt="">

                <img data-src="img/lacxi/640x560.png" class="d-block d-lg-none mx-auto img-fluid lazyload  rounded shadow-sm" alt="">
            </div>
        </div> -->

       <!--  <div class="row justify-content-center mt-4">
            <div class="col-6 col-lg-3">
                <div class="lacxi-card-img py-3">
                    <img data-src="img/lacxi/card-rong-min.png" width="180"
                        class="img-fluid d-block mx-auto lazyload" alt="">
                </div>


            </div>

            <div class="col-6 col-lg-3">
                <div class="lacxi-card-img py-3">
                    <img data-src="img/lacxi/card-lan-min.png" width="180"
                        class="img-fluid d-block mx-auto lazyload" alt="">
                </div>


            </div>

            <div class="col-6 col-lg-3">
                <div class="lacxi-card-img py-3">
                    <img data-src="img/lacxi/card-quy-min.png" width="180"
                        class="img-fluid d-block mx-auto lazyload" alt="">
                </div>


            </div>

            <div class="col-6 col-lg-3">
                <div class="lacxi-card-img py-3">
                    <img data-src="img/lacxi/card-phung-min.png" width="180"
                        class="img-fluid d-block mx-auto lazyload" alt="">
                </div>
            </div>
        </div> -->

    </div>

</div>

</section>
