<div class="navbar-container" id="">
    <nav class="navbar navbar-expand-lg  navbar-dark fixed-top navbar-lacxi">
        <div class="container">

            <!-- Brand Logo -->
            <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="https://momo.vn/" target="_blank">
                <img alt="MoMo" src="https://static.mservice.io/jk/accmm/rs/assets/img/momo-white.png" width="40"
                    style="">
            </a>
            

            <div class="mr-3 d-block d-lg-none">
                <img src="img/lacxi/lacxi-title-mini.png" class="logo-scroll" width="70" class="img-fluid" alt="">
            </div>


            <div class="d-flex align-items-center order-lg-3">

                <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
                        src="img/icons/interface/icon-menu-white.svg">
                    <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
                        src="img/icons/interface/icon-x-white.svg">
                </button>
            </div>


            <!-- A group of nav dropdowns --->
            <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end menu-lacxi"
                id="navigation-menu">
                <ul class="navbar-nav my-3 my-lg-0">

                    <!-- Single-level dropdown -->
                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-home" data-smooth-scroll>Trang chủ</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-gioithieu" data-smooth-scroll>Giới thiệu</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-quatang" data-smooth-scroll>Quà tặng</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-huongdan" data-smooth-scroll>Hướng dẫn</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-thuthap" data-smooth-scroll>Thu thập linh
                                thú</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-sukien" data-smooth-scroll>Sự kiện</a>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-nhiemvu" data-smooth-scroll>Hệ thống nhiệm
                                vụ</a>
                        </div>
                    </li>

                    <!-- MENU THEM DROPDOWN DESKTOP -->
                    <li class="nav-item dropdown dropdown-lacxi d-none d-lg-block">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Thêm</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#lacxi-uudai" data-smooth-scroll>Ưu đãi Khách hàng mới</a>
                            <a class="dropdown-item" href="#lacxi-cauhoi" data-smooth-scroll>Câu hỏi thường gặp</a>
                            <a class="dropdown-item" href="#lacxi-tintuc" data-smooth-scroll>Tin tức - sự kiện</a>
                            <a class="dropdown-item" href="#lacxi-doitac" data-smooth-scroll>Đối tác đồng hành</a>
                        </div>
                    </li>
                    <!-- END MENU THEM DROPDOWN DESKTOP -->

                    <!-- MENU SHOW MOBILE -->
                    <li class="nav-item d-lg-none ">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-uudai" data-smooth-scroll>Ưu đãi Khách hàng
                                mới</a>
                        </div>
                    </li>

                    <li class="nav-item  d-lg-none">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-cauhoi" data-smooth-scroll>Câu hỏi thường
                                gặp</a>
                        </div>
                    </li>

                    <li class="nav-item  d-lg-none">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-tintuc" data-smooth-scroll>Tin tức - sự
                                kiện</a>
                        </div>
                    </li>

                    <li class="nav-item  d-lg-none">
                        <div class="">
                            <a class=" nav-link nav-item  " href="#lacxi-doitac" data-smooth-scroll>Đối tác đồng
                                hành</a>
                        </div>
                    </li>

                    <!-- END MENU SHOW MOBILE -->


                </ul>
                <!-- End of dropdown group -->

            </div>
            <!-- End navbar collapse -->



        </div>
        <!-- End container -->

    </nav>
    <!-- End nav -->
</div>