<!-- <div class="row justify-content-center">
    <div class="col-lg-11">


        <div class="row  align-items-center">

            <div class="col-6 col-lg-4">

                <ul class="list-unstyled list-nv">
                    <li>
                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Gửi lì xì
                            </span>
                        </a>

                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 1 lượt lắc khi chuyển tiền và tối đa 5 lần
                            </div>
                        </div>


                    </li>

                    <li>
                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Đòi lì xì
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 2 lượt lắc
                            </div>
                        </div>

                    </li>

                    <li>
                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Cho heo đi học
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 1 lượt lắc
                            </div>
                        </div>

                    </li>

                    <li>

                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Giới thiệu bạn bè
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 3 lượt lắc và không giới hạn
                            </div>
                        </div>


                    </li>

                </ul>

            </div>
            <div class="col-6 col-lg-4 d-none d-lg-block ">

                <div class="">
                    <img data-src="img/lacxi/chuot-nv.png" width="230" class="img-fluid d-block mx-auto lazyload"
                        alt="">
                </div>

            </div>
            <div class="col-6 col-lg-4">

                <ul class="list-unstyled list-nv">
                    <li>

                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Liên kết ngân hàng
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 5 lượt và gói quà 500k
                            </div>
                        </div>


                    </li>

                    <li>

                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Đi bộ
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 3 lượt lắc
                            </div>
                        </div>


                    </li>

                    <li>

                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Lắc lu
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm lượt lắc khi Lắc Lu nhà mình
                            </div>
                        </div>


                    </li>

                    <li>

                        <a class="btn-nv" href="nhiemvu.html"><span>
                                Lắc trộm lu
                            </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 2 lượt lắc khi trộm lu hàng xóm
                            </div>
                        </div>


                    </li>

                </ul>
            </div>


        </div>

    </div>

</div>
 -->


<div class="row justify-content-center">
    <div class="col-lg-11">
        <p class="text-center text-yellow">Thực hiện nhiệm vụ dưới đ&acirc;y để th&ecirc;m lượt lắc lu
            n&agrave;o bạn ơi!</p>

        <div class="row  align-items-center">
            <div class="col-6 col-lg-4">
                <ul class="list-unstyled list-nv">
                    <li><a class="btn-nv" href="/lixi/gui-li-xi"><span>Gửi l&igrave; x&igrave;
                            </span></a>

                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 1 lượt lắc khi chuyển tiền và tối đa 5 lần
                            </div>
                        </div>


                    </li>
                    <li><a class="btn-nv" href="/lixi/doi-li-xi"><span>Đ&ograve;i l&igrave; x&igrave;
                            </span></a>

                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 2 lượt lắc
                            </div>
                        </div>
                    </li>
                    <li><a class="btn-nv" href="/lixi/lien-ket-ngan-hang"><span>Li&ecirc;n kết
                                ng&acirc;n h&agrave;ng </span></a>

                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 5 lượt và gói quà 500k
                            </div>
                        </div>
                    </li>
                    <li><a class="btn-nv" href="/lixi/gioi-thieu-ban-be"><span>Giới thiệu bạn b&egrave;
                            </span></a>


                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 3 lượt lắc và không giới hạn
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-lg-4 d-none d-lg-block ">
                <div><img alt="" class="img-fluid d-block mx-auto lazyload" data-src="/lixi2/img/lacxi/chuot-nv.png"
                        width="230" /></div>
            </div>

            <div class="col-6 col-lg-4">
                <ul class="list-unstyled list-nv">
                    <li><a class="btn-nv" href="/lixi/cho-heo-di-hoc"><span>Cho heo đi học </span></a>

                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 1 lượt lắc
                            </div>
                        </div>

                    </li>
                    <li><a class="btn-nv" href="/lixi/di-bo"><span>Đi bộ </span></a>
                    
                        
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 3 lượt lắc
                            </div>
                        </div>
                    </li>
                    <li><a class="btn-nv" href="/lixi/lac-lu"><span>Lắc lu </span></a>
                    
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm lượt lắc khi Lắc Lu nhà mình
                            </div>
                        </div>
                    </li>
                    <li><a class="btn-nv" href="/lixi/lac-trom-lu"><span>Lắc trộm lu </span></a>
                        <div class="nv-content-container">
                            <div class="nv-content">
                                Thêm 2 lượt lắc khi trộm lu hàng xóm
                            </div>
                        </div></li>
                </ul>
            </div>
        </div>
    </div>
</div>