<section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
    id="lacxi-huongdan">

    <div class="container ">

        <div class="s-title h1 mt-0 mb-4 text-center">

            {% if huongdanTitle %}

            Hướng dẫn chơi <span class="text-yellow"> {{huongdanTitle}}</span>
            {% else %}
            Hướng dẫn chơi <span class="text-yellow">"Lắc Xì"</span>

            {% endif %}

        </div>

        <div class=" lacxi-tab-container d-none d-md-block">
            <nav class="nav lacxi-tab" role="tablist">
                <a class="lacxi-tab-item nav-item active" data-index="1" data-toggle="pill" href="#hd-531381">
                    <div class="embed-responsive embed-responsive-tab">
                        <span class="lacxi-tab-name"> T&#x1EA3;i V&#xE0; &#x110;&#x103;ng
                            K&#xFD;</span>
                    </div>

                </a>
                <a class="lacxi-tab-item nav-item " data-index="2" data-toggle="pill" href="#hd-535381">

                    <div class="embed-responsive embed-responsive-tab">
                        <span class="lacxi-tab-name">Lắc xì</span>
                    </div>

                </a>


                <a class="lacxi-tab-item nav-item " data-index="2" data-toggle="pill" href="#hd-535381">

                    <div class="embed-responsive embed-responsive-tab">
                        <span class="lacxi-tab-name">Trộm lu bạn bè</span>
                    </div>

                </a>
            </nav>
        </div>

        <div class="s-lacxi d-none d-md-block">


            <div class="row justify-content-center mt-3 mt-lg-4">
                <div class="col-lg-12">
                    <div class="container">



                        <div class="col-12">

                            <div class="tab-content">
                                <div class="tab-pane active show fade" data-index="1" id="hd-531381">


                                    <div class="row manual-device-swiper-container">
                                        <div class="col-12 col-md-6 order-2 order-md-1">

                                            <div class="manual-device d-block " id="hd-sub-img-53138152"
                                                childId="53138152">

                                                <div class="manual-device-slide">
                                                    <div class="swiper-container shadow manual-device-swiper"
                                                        id="hd-sub-swp-53138152">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="T&#x1EA3;i &#x1EE9;ng d&#x1EE5;ng V&#xED; MoMo Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p s&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p m&#xE3; x&#xE1;c th&#x1EF1;c  Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="T&#x1EA1;o m&#x1EAD;t kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p  Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p th&#xF4;ng tin Ví MoMo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-12 col-md-6 order-1 order-md-2">

                                            <h4 class="text-white mt-2 mb-1 text-center text-md-left">Tải Ví MoMo & đăng
                                                ký
                                            </h4>
                                            <ol class="process list-unstyled manual-process " childId="53138152"
                                                id="hd-sub-ctn-53138152">

                                                <li class="process_item  active">
                                                    <div class="process__number">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">T&#x1EA3;i
                                                            &#x1EE9;ng
                                                            d&#x1EE5;ng V&#xED; MoMo</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Tải ứng dụng
                                                                    miễn
                                                                    ph&iacute; bằng c&aacute;ch t&igrave;m
                                                                    kiếm&nbsp;từ kh&oacute;a &ldquo;vi
                                                                    momo&rdquo;&nbsp;tr&ecirc;n <a
                                                                        href="https://apps.apple.com/vn/app/id918751511?utm_campaign=momo-1dong&amp;utm_medium=download&amp;utm_source=website-momo">App
                                                                        Store</a> hoặc <a
                                                                        href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong">Google
                                                                        Play Store</a>.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>2</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p
                                                            s&#x1ED1;
                                                            &#x111;i&#x1EC7;n tho&#x1EA1;i</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Mở ứng dụng
                                                                    v&agrave; nhập số điện thoại bạn muốn
                                                                    đăng
                                                                    k&yacute; V&iacute; MoMo.</span></p>

                                                            <p><span style="font-size:14px;"><em>Lưu
                                                                        &yacute;:&nbsp;</em></span><em>Số
                                                                    điện&nbsp;thoại đăng k&iacute; V&iacute;
                                                                    phải tr&ugrave;ng với số điện thoại đăng
                                                                    k&iacute; Internet Banking của
                                                                    ng&acirc;n
                                                                    h&agrave;ng bạn muốn li&ecirc;n
                                                                    kết.</em>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>3</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                                                            x&#xE1;c th&#x1EF1;c </h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Một tin nhắn
                                                                    chứa
                                                                    m&atilde; x&aacute;c thực sẽ&nbsp;gửi
                                                                    trực
                                                                    tiếp đến số điện thoại của bạn.</span>
                                                            </p>

                                                            <p><span style="font-size:14px;">Vui l&ograve;ng
                                                                    kiểm tra v&agrave; nhập ch&iacute;nh
                                                                    x&aacute;c m&atilde; x&aacute;c thực
                                                                    v&agrave;o &ocirc; &quot;Nhập m&atilde;
                                                                    x&aacute;c thực&quot; rồi nhấn
                                                                    &quot;Tiếp
                                                                    tục&quot;.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>4</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">T&#x1EA1;o
                                                            m&#x1EAD;t
                                                            kh&#x1EA9;u &#x111;&#x103;ng nh&#x1EAD;p </h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Thiết lập mật
                                                                    khẩu
                                                                    để bảo vệ t&agrave;i khoản V&iacute;
                                                                    MoMo
                                                                    của bạn gồm 6 chữ số v&agrave; mật khẩu
                                                                    ở 2
                                                                    &ocirc; phải ho&agrave;n to&agrave;n
                                                                    giống
                                                                    nhau.<br />
                                                                    <br />
                                                                    Sau đ&oacute; bấm &quot;X&aacute;c
                                                                    nhận&quot;.</span></p>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>5</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p
                                                            th&#xF4;ng
                                                            tin</h4>
                                                        <div class="process__body-content">
                                                            <p><span style="font-size:14px;">Sau khi tạo mật
                                                                    khẩu đăng nhập th&agrave;nh c&ocirc;ng,
                                                                    bạn
                                                                    nhập th&ocirc;ng tin c&aacute;
                                                                    nh&acirc;n
                                                                    theo y&ecirc;u cầu v&agrave; nhấn
                                                                    &quot;X&aacute;c nhận&quot;&nbsp;để
                                                                    ho&agrave;n tất đăng k&yacute;.</span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>



                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade " data-index="2" id="hd-535381">

                                    <div class="row manual-device-swiper-container">
                                        <div class="col-12 col-md-6 order-2 order-md-1">

                                            <div class="manual-device d-block" id="hd-sub-img-535381271"
                                                childId="535381271">

                                                <div class="manual-device-slide">
                                                    <div class="swiper-container manual-device-swiper"
                                                        id="hd-sub-swp-535381271">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-190730101030-637000782306715287.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Ch&#x1ECD;n m&#x1EE5;c &#x1AF;u &#x111;&#xE3;i Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-190917083828-637043063089735936.png"
                                                                    class="img-fluid lazyload"
                                                                    alt="Nh&#x1EAD;p m&#xE3; &#x27;TIETKIEM&#x27; Ví MoMo">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img data-src="https://static.mservice.io/img/momo-upload-api-190730101848-637000787287396053.jpg"
                                                                    class="img-fluid lazyload"
                                                                    alt="Ch&#x1ECD;n Li&#xEA;n k&#x1EBF;t ngay Ví MoMo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>


                                        <div class="col-12 col-md-6 order-1 order-md-2">


                                            <ol class="process list-unstyled manual-process " childId="535381271"
                                                id="hd-sub-ctn-535381271">

                                                <li class="process_item  active">
                                                    <div class="process__number">
                                                        <span>1</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Ch&#x1ECD;n
                                                            m&#x1EE5;c
                                                            &#x1AF;u &#x111;&#xE3;i</h4>
                                                        <div class="process__body-content">

                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>2</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Nh&#x1EAD;p m&#xE3;
                                                            &#x27;TIETKIEM&#x27;</h4>
                                                        <div class="process__body-content">
                                                            Điền m&atilde; tại &ocirc; &ldquo;Nhập m&atilde;
                                                            khuyến m&atilde;i, chia sẻ&rdquo; (kh&ocirc;ng
                                                            ph&acirc;n biệt viết hoa, viết thường)
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="process_item  ">
                                                    <div class="process__number">
                                                        <span>3</span>
                                                    </div>
                                                    <div class="process__body">

                                                        <h4 class="process__body-title">Ch&#x1ECD;n
                                                            Li&#xEA;n
                                                            k&#x1EBF;t ngay</h4>
                                                        <div class="process__body-content">

                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>



                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div id="pay-accordion" class="desaccordion lacxi-faq  d-block d-md-none">

            <div class="card mb-2 mb-md-3">
                <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="true" class="lacxi-faq-cl">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-0 mr-2">T&#x1EA3;i V&#xE0; &#x110;&#x103;ng K&#xFD;</div>
                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm"
                            data-inject-svg>
                    </div>
                </a>
                <div class="collapse show" id="accordion-1" data-parent="#pay-accordion">
                    <div class="lacxi-faq-cont">

                        <div class="htu-mockup" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-mockup-item i1"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg')">

                            </div>
                            <div class="htu-mockup-item i2"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg')">

                            </div>
                            <div class="htu-mockup-item i3"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg')">

                            </div>

                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#htu-modal"
                                class="btn btn-outline-primary btn-sm">Xem
                                hướng dẫn</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card mb-2 mb-md-3">
                <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false" class="lacxi-faq-cl">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-0 mr-2">Trộm lu bạn bè</div>
                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm"
                            data-inject-svg>
                    </div>
                </a>
                <div class="collapse" id="accordion-2" data-parent="#pay-accordion">
                    <div class="lacxi-faq-cont">

                        <div class="htu-mockup" data-toggle="modal" data-target="#htu-modal">
                            <div class="htu-mockup-item i1"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg')">

                            </div>
                            <div class="htu-mockup-item i2"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg')">

                            </div>
                            <div class="htu-mockup-item i3"
                                style="background-image: url('https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg')">

                            </div>

                        </div>
                        <div class="text-center">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#htu-modal"
                                class="btn btn-outline-primary btn-sm">Xem
                                hướng dẫn</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card mb-2 mb-md-3">
                <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false" class="lacxi-faq-cl">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mb-0 mr-2">Liên kết ngân hàng</div>
                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right" class="icon icon-sm"
                            data-inject-svg>
                    </div>
                </a>
                <div class="collapse" id="accordion-3" data-parent="#pay-accordion">
                    <div class="lacxi-faq-cont">


                        <div class=" htu-bank mt-2">
                            <!-- ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">VCB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png">
                                    <div ng-bind="item.Title" class="ng-binding">Agribank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png">
                                    <div ng-bind="item.Title" class="ng-binding">Vietinbank
                                    </div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png">
                                    <div ng-bind="item.Title" class="ng-binding">BIDV</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">ACB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">Shinhan</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png">
                                    <div ng-bind="item.Title" class="ng-binding">Sacombank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">SCB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">VPBank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">VIB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png">
                                    <div ng-bind="item.Title" class="ng-binding">Eximbank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png">
                                    <div ng-bind="item.Title" class="ng-binding">TPBank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg">
                                    <div ng-bind="item.Title" class="ng-binding">Bảo Việt</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png">
                                    <div ng-bind="item.Title" class="ng-binding">VRB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png">
                                    <div ng-bind="item.Title" class="ng-binding">OCB</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                            <div ng-repeat="item in group.Items" class="htu-bank-col popup-button ng-scope"
                                ng-click="ShowBlocksRender(item.Title,item.Blocks)">
                                <div class="htu-bank-item">
                                    <img ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                                        class="d-block mx-auto img-fluid" alt=""
                                        src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png">
                                    <div ng-bind="item.Title" class="ng-binding">ABBank</div>
                                </div>
                            </div><!-- end ngRepeat: item in group.Items -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>









<div class="modal modal-fullscreen fade htu-modal " id="htu-modal" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="m-0 py-1">Hướng dẫn làm hmm</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body p-0 ">

                <div class="htu-modal-content">


                    <div class="swiper-container htu-slider">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">


                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 1/6 : </strong> Tải ứng dụng Ví
                                                MoMo
                                            </h3>
                                            <div class="htu-slider-body">
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.

                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.


                                                <br>
                                                Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App
                                                Store
                                                hoặc Google Play Store.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 2/6 : </strong> Nhập số điện
                                                thoại
                                            </h3>
                                            <div class="htu-slider-body">
                                                Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí
                                                Internet Banking của ngân hàng bạn muốn liên kết.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 3/6 : </strong> Nhập mã xác thực
                                            </h3>
                                            <div class="htu-slider-body">
                                                Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của
                                                bạn.
                                                &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô
                                                &quot;Nhập
                                                mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">
                                                .
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 4/6 : </strong> Tạo mật khẩu đăng
                                                nhập </h3>
                                            <div class="htu-slider-body">
                                                Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và
                                                mật
                                                khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt;
                                                Sau đó bấm &quot;Xác nhận&quot;.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-slide">

                                <div class="htu-slider-content">
                                    <div class="ht-mockup">
                                        <div class="htu-slider-mockup">
                                            <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg"
                                                class="img-fluid d-block mx-auto swiper-lazy" alt="">

                                        </div>

                                        <div class="htu-slider-txt">
                                            <h3 class="htu-slider-title"> <strong>Bước 5/6 : </strong> Nhập thông tin
                                            </h3>
                                            <div class="htu-slider-body">
                                                Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân
                                                theo
                                                yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                                            </div>

                                            <div class="mt-3  font-italic">

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next">

                            <img src="img/icons/interface/icon-arrow-right.svg" alt="Icon" class="icon bg-white"
                                data-inject-svg>

                        </div>
                        <div class="swiper-button-prev">

                            <img src="img/icons/interface/icon-arrow-left.svg" alt="Icon" class="icon bg-white"
                                data-inject-svg>
                        </div>

                    </div>


                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>

        </div>


    </div>
</div>