<div class="modal fade modal-lacxi" id="user-new-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="text-white m-0 py-1">Chi tiết quà tặng</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pb-4 ">

                <div class="row no-gutters align-items-center mb-4">
                    <div class="col-auto">
                        <div class="user-qua-modal">
                            <img src="img/lacxi/angle4.png" class="img-fluid d-block mx-auto" alt="" width="150">
                        </div>

                    </div>
                    <div class="col">
                        <div class="ml-4">
                            <h2 class="text-white text-shadow">Gói quà thịt mỡ</h2>
                            <div class="h5  text-white">Tổng trị giá: <strong class="text-yellow">500.000đ</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div>

                    <table class="table table-lacxi">
                        <tbody>
                            <tr>

                                <td scope="col "> <span class="text-yellow">Tên Thẻ Quà Tặng</span>
                                </td>

                                <td scope="col " class="text-right"> <span class="text-yellow">Trị giá</span> </td>
                            </tr>

                            {% for item in range(0,15) %}
                            <tr>
                                <td scope="row"> <span class="text-white">Nạp điện thoại</span> </td>
                                <td class="text-right"> <span class="text-white ">30.000đ</span> </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>


            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-lacxi" id="user-new-modal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="text-white m-0 py-1">Chi tiết quà tặng</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pb-4 ">

                <div class="row no-gutters align-items-center mb-4">
                    <div class="col-auto">
                        <div class="user-qua-modal">
                            <img src="img/lacxi/angle5.png" class="img-fluid d-block mx-auto" alt="" width="150">
                        </div>

                    </div>
                    <div class="col">
                        <div class="ml-4">
                            <h2 class="text-white text-shadow">Gói quà ngũ quả</h2>

                        </div>
                    </div>
                </div>

                <div>

                    <p>
                        - Nhận ngay thẻ <span class="text-yellow"> QUÀ ĐA NĂNG 100.000đ</span> mỗi lần giới thiệu thành
                        công.

                    </p>

                    <p>
                        - <span class="text-yellow">KHÔNG GIỚI HẠN </span> số lần giới thiệu và nhận thưởng.
                    </p>
                </div>


            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade modal-lacxi" id="sign-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="text-white m-0 py-1">Chi tiết câu hỏi</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pb-4 ">

                <h4 class="text-yellow mb-4"> Các cấp hạng trong game là gì? </h4>

                <div class="">
                    <p>Game Lắc Mana - Rước lộc về nhà có 3 cấp hạng:</p>
                    <p>- <strong>Lắc sương sương: </strong> là hạng cơ bản dành cho tất cả người chơi.</p>
                    <p>- <strong>Lắc say sưa: </strong> là cấp độ 2 trong Game Lắc Mana. Người chơi cần thực hiện
                        200 lượt lắc &amp; phát sinh 3 loại giao dịch khác nhau trên ứng dụng để được thăng hạng.
                    </p>
                    <p>- <strong>Lắc sòng sọc: </strong> là cấp độ cao nhất trong Game Lắc Mana. Người chơi cần thực
                        hiện 350 lượt lắc &amp; phát sinh 5 loại giao dịch khác nhau trên ứng dụng để được thăng
                        hạng.</p>
                </div>


            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade modal-lacxi" id="des-modal-doitac-206" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="text-white m-0 py-1">Thông tin Nhà tài trợ</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pb-4 ">

                <div class="row no-gutters align-items-center mb-4">
                    <div class="col-auto">
                        <div class="user-qua-modal">
                            <img src="https://static.mservice.io/blogscontents/momo-upload-api-bv-29-190129092103.jpg"
                                class="img-fluid d-block mx-auto" alt="" width="150">
                        </div>

                    </div>
                    <div class="col">
                        <div class="ml-4">
                            <h2 class="text-yellow mb-4">B&#x1EA3;o Vi&#x1EC7;t</h2>

                        </div>
                    </div>
                </div>




                <p>Bảo hiểm Bảo Việt l&agrave; doanh nghiệp bảo hiểm h&agrave;ng đầu tại Việt Nam với tr&ecirc;n 50
                    năm hoạt động v&agrave; mạng lưới c&aacute;n bộ, tư vấn vi&ecirc;n v&agrave; c&aacute;c chi
                    nh&aacute;nh lớn nhất cả nước. Nhiều năm li&ecirc;n tiếp, Bảo hiểm Bảo Việt nhận được c&aacute;c
                    giải thưởng uy t&iacute;n: Doanh nghiệp Bảo hiểm phi nh&acirc;n thọ tốt nhất Việt Nam 2018
                    (Global Banking and Finance Review); Thương hiệu Bảo hiểm Phi nh&acirc;n thọ tốt nhất Việt Nam
                    2018 (Best Brand Magazine); Top 10 C&ocirc;ng ty bảo hiểm phi nh&acirc;n thọ uy t&iacute;n nhất
                    Việt Nam 2018 (Vietnam Report).</p>

                <p>Bảo hiểm du lịch quốc tế v&agrave; Bảo hiểm du lịch Việt Nam của Bảo Việt được thiết kế với
                    c&aacute;c mức quyền lợi đa dạng, ph&ugrave; hợp nhu cầu đa dạng của kh&aacute;ch h&agrave;ng,
                    với chi ph&iacute; chỉ từ 20,000đ/người/ng&agrave;y v&agrave; quyền lợi tối đa l&ecirc;n đến 6
                    tỷ đồng, sẽ gi&uacute;p bạn v&agrave; người th&acirc;n an t&acirc;m tận hưởng chuyến đi
                    m&agrave; kh&ocirc;ng phải lo lắng về những rủi ro kh&ocirc;ng lường trước như tai nạn, ốm đau,
                    trễ, hủy, lỡ chuyến bay, mất m&aacute;t t&agrave;i sản&hellip; Đặc biệt từ 20/01/2019 đến
                    24/02/2019, khi tham gia chương tr&igrave;nh &ldquo;Lắc x&igrave;&rdquo; tr&ecirc;n ứng dụng
                    V&iacute; MoMo, bạn c&oacute; cơ hội nhận được thẻ qu&agrave; tặng của Bảo Việt khuyến mại
                    l&ecirc;n tới 30% gi&aacute; trị đơn h&agrave;ng để Tết n&agrave;y bạn c&oacute; thể thoải
                    m&aacute;i vi vu khắp thế gian, kh&ocirc;ng ngại rủi ro. Kh&ocirc;ng giới hạn số lượng thẻ
                    qu&agrave; tặng của Bảo Việt mỗi t&agrave;i khoản nhận được. C&ograve;n chần chờ g&igrave; nữa
                    m&agrave; kh&ocirc;ng &ldquo;Lắc x&igrave; c&ugrave;ng MoMo&rdquo; để nhận được thẻ qu&agrave;
                    tặng của Bảo Việt ngay n&agrave;o!!</p>



            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade modal-lacxi" id="des-modal-new" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content ">
            <div class="modal-header px-md-4 px-lg-5">
                <div class="w-100 ">
                    <h5 class="text-white m-0 py-1">Chi tiết bài viết</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x.svg" alt="Icon">
                    </span>
                </button>


            </div>
            <div class="modal-body px-md-4 px-lg-5  pt-4 pb-4 ">
                <div class="modal-blog-content">
                    <h2 class="text-center h2 my-3 text-yellow">Ví MoMo công bố lễ trao giải Lắc xì - Lắc heo vàng nhận
                        lì
                        xì</h2>
                    <p style="text-align: center;"><img alt="Lễ trao giải Lắc xì - Lắc heo vàng nhận lì xì"
                            src="https://static.mservice.io/blogscontents/momo-upload-api-h3-190303170926.jpg"
                            style="width: 770px; height: 370px;"></p>

                    <p style="text-align: justify;">Theo đó, tất cả các khách hàng có tên trong danh sách trúng giải,
                        được công bố công khai và minh bạch trên website, facebook chính thức của Ví MoMo và các kênh
                        truyền thông đại chúng khác. Đồng thời, Ví MoMo cũng đã liên lạc thông báo trúng thưởng tới tất
                        cả khách hàng may mắn trúng giải và trân trọng kinh mời tham dự Buổi lễ trao giải thưởng Lắc xì
                        sắp tới.</p>

                    <p style="text-align: justify;">Trước đó, lễ Quay số may mắn diễn ra vào ngày 1/3/2019, tại văn
                        phòng Ví điện tử MoMo, Quận 7, TP.HCM dưới sự cho phép của Cục xúc tiến thương mại, Sở Công
                        Thương TP.HCM cùng sự hiện diện của đại diện Phóng viên báo đài, khách hàng là người đã tham gia
                        Lắc xì cùng Ban lãnh đạo Ví MoMo và đại diện phòng Pháp chế của Công ty đã cùng tham dự và chứng
                        kiến buổi lễ Quay số may mắn Lắc xì – Lắc heo vàng Nhận lì xì.</p>

                    <p style="text-align: justify;">Các giải thưởng sẽ được trao trong buổi Lễ trao giải bao gồm 3
                        chương trình giải thưởng chính:</p>

                    <p style="text-align: justify;"><strong>- Giải thưởng các khách hàng đã trúng trong Khung giờ vàng
                            vào tối thứ 5 hàng tuần, tối ông Công ông Táo, và đêm 30 Tết, bao gồm:</strong></p>

                    <ul>
                        <li style="text-align: justify;">Xe Honda SH</li>
                        <li style="text-align: justify;">Xe Vespa</li>
                        <li style="text-align: justify;">Apple Macbook Air</li>
                        <li style="text-align: justify;">iPad Pro</li>
                        <li style="text-align: justify;">Máy ảnh Canon 80D</li>
                        <li style="text-align: justify;">iPhone XS</li>
                        <li style="text-align: justify;">Samsung Galaxy Note 9</li>
                        <li style="text-align: justify;">Vé máy bay nội địa và quốc tế Vietjet</li>
                    </ul>

                    <p style="text-align: justify;"><strong>- Đối với người chơi đã thu thập trọn bộ 12 con giáp và đổi
                            vé vàng, giá trị giải thưởng lên đến 1 tỷ đồng, bao gồm:</strong></p>

                    <ul>
                        <li style="text-align: justify;">01 giải nhất trị giá: 100.000.000 đồng</li>
                        <li style="text-align: justify;">06 giải nhì, mỗi giải trị giá: 50.000.000 đồng</li>
                        <li style="text-align: justify;">20 giải ba, mỗi giải trị giá:&nbsp; 20.000.000 đồng</li>
                        <li style="text-align: justify;">100 giải khuyến khích, mỗi giải: 2.000.000 đồng</li>
                    </ul>

                    <p style="text-align: justify;"><strong>- Đối với người chơi có từ 30 lượt lắc trở lên:</strong></p>

                    <ul>
                        <li style="text-align: justify;">01 giải nhất: xe Honda SH</li>
                        <li style="text-align: justify;">01 giải nhì: iPhone XS</li>
                        <li style="text-align: justify;">10 giải ba: mỗi giải 1 tai nghe AirPods</li>
                    </ul>

                    <p style="text-align: justify;">Các thông tin chi tiết và <strong>yêu cầu khi nhận giải
                        </strong>được niêm yết công khai và minh bạch trên website:<br>
                        - Chương trình Khung Giờ Vàng:&nbsp;<strong><a
                                href="https://momo.vn/lixi/gio-vang-thit-heo-vang">xem tại đây</a></strong><br>
                        - Chương trình Quay Số May Mắn: <strong><a href="https://momo.vn/lixi/quay-so-may-man">xem tại
                                đây</a></strong></p>

                    <p style="text-align: justify;">Ví MoMo trân trọng cảm ơn quý khách hàng đã ủng hộ và tin dùng Ví
                        MoMo trong thời gian qua, Ví MoMo không ngừng cải thiện chất lượng dịch vụ để đáp ứng nhu cầu
                        ngày càng cao của Quý khách hàng. Rất mong Quý khách hàng luôn tin yêu và ủng hộ Ví MoMo</p>

                </div>



            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-light rounded-lg btn-sm" style="min-width: 120px;"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade modal-lacxi modal-survey" id="kq-modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content " style="">
            <div class="modal-header px-md-4 px-lg-5 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x-white.svg" alt="Icon">
                    </span>
                </button>

            </div>



            <div class="modal-body px-md-4 px-lg-5 pb-5  pt-4  ">


                <div class="text-center mb-4">
                    <img src="https://static.mservice.io/jk/lixi2/img/thequa/LACXi_ICON_10_Ty.png" width="160"
                        class="img-fluid d-block mx-auto" alt="">
                </div>

                <h4 class="text-yellow mb-1 text-center "> Chúc mừng bạn là 1 trong <strong>1,453</strong> người mạo
                    hiểm lựa chọn chia thưởng 10 tỷ
                </h4>

                <p class="text-white text-center mt-4 font-weight-normal">
                    <strong class="text-yellow">123.000 đồng</strong> đã thuộc về bạn! Quà là tiền mặt đã gởi về Ví MoMo của bạn.
                </p>


                <div>

                    <table class="table table-lacxi">
                        <tbody>

                            <tr>
                                <td scope="row"> <span class="text-white">Họ và Tên</span> </td>
                                <td class="text-left "> <span class="text-white ">Nguyễn Văn A</span> </td>
                            </tr>

                            <tr>
                                <td scope="row"> <span class="text-white">Số điện thoại</span> </td>
                                <td class="text-left"> <span class="text-white ">xxxxxx343</span> </td>
                            </tr>

                         

                        </tbody>
                    </table>
                </div>


                <div class="mt-3 text-center h5 text-white">
                    Hẹn gặp lại vào mùa lắc xì sau!
                </div>

                <div>
                    
                </div>


            </div>

        </div>
    </div>
</div>



<div class="modal fade modal-lacxi modal-survey" id="kq-modal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content " style="">
            <div class="modal-header px-md-4 px-lg-5 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x-white.svg" alt="Icon">
                    </span>
                </button>

            </div>



            <div class="modal-body px-md-4 px-lg-5 pb-5  pt-4  ">


                <div class="text-center mb-4">
                    <img src="img/lacxi/warning.svg" width="160"
                        class="img-fluid d-block mx-auto" alt="">
                </div>

                <p class="text-white  mb-1 text-center ">Ohhhh... rất tiếc bạn đã ghép lộc thành công nhưng thông tin bạn cung cấp không khớp với thông tin của Tài khoản Ngân hàng liên kết.
                </p>

                <p class="text-white text-center mt-4 font-weight-normal">
                    Phiền bạn gọi 
                    
                    <a href="tel:1900545441" class="text-white"><u>1900545441</u></a>
                    hoặc vào mục 'TRỢ GIÚP' trên Ứng dụng để nhân viên CSKH của chúng tôi hỗ trợ bạn nha!

                </p>


            </div>

        </div>
    </div>
</div>




<div class="modal fade modal-lacxi modal-survey" id="kq-modal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content " style="">
            <div class="modal-header px-md-4 px-lg-5 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x-white.svg" alt="Icon">
                    </span>
                </button>

            </div>



            <div class="modal-body px-md-4 px-lg-5 pb-5  pt-4  ">


                <div class="text-center mb-4">
                    <img src="img/lacxi/not-found.svg" width="120"
                        class="img-fluid d-block mx-auto" alt="">
                </div>

                <h4 class="text-white  mb-1 text-center ">Ohhhh... rất tiếc bạn đã không là 1 trong xxx người ghép lộc thành công.
                </h4>

                <p class="text-white text-center mt-4 font-weight-normal">
                    Hẹn gặp bạn vào mùa Lắc Xì sau nha!
                </p>


            </div>

        </div>
    </div>
</div>