<div class="modal fade modal-lacxi modal-survey" id="survey-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content " style="">
            <div class="modal-header px-md-4 px-lg-5 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <img src="img/icons/interface/icon-x-white.svg" alt="Icon">
                    </span>
                </button>

            </div>
            <div class="modal-body px-md-4 px-lg-5 pb-5  pt-4  ">

                <h3 class="text-yellow mb-1 text-center "> Chia Thưởng 10 Tỷ hay Nhận Quà 1 Triệu
                </h3>

                <h4 class="text-white text-center mb-2 font-weight-normal">
                    Bạn sẽ gia nhập hội nào?
                </h4>
                <div class="text-center opacity-80 font-weight-light font-italic " style="font-size: 12px;">
                    (Khảo sát chỉ mang tính chất tham khảo. <br> Kết quả khảo sát không ảnh hưởng giải thưởng chung
                    cuộc)
                </div>


                <div class="collapse  show " id="Collapse1">

                    <div class="row sm-gutters mt-5 justify-content-around">
                        <div class="col-6">
                            <div class="survey-select ">
                                <!-- is-active -->
                                <div class="survey-select-check">
                                    <img src="img/icons/interface/icon-check.svg" alt="Verified"
                                        class="icon icon-sm  bg-primary-2" data-inject-svg>
                                </div>


                                <img src="https://static.mservice.io/jk/lixi2/img/thequa/LACXi_ICON_10_Ty.png"
                                    width="160" class="img-fluid d-block mx-auto" alt="">

                                <h6 class="text-yellow text-center mt-3 mb-0">Cùng chia 10 tỷ</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="survey-select">
                                <div class="survey-select-check">
                                    <img src="img/icons/interface/icon-check.svg" alt="Verified"
                                        class="icon icon-sm  bg-primary-2" data-inject-svg>
                                </div>
                                <img src="https://static.mservice.io/jk/lixi2/img/thequa/LACXi_ICON_HOP_QUA.png"
                                    width="160" class="img-fluid d-block mx-auto" alt="">

                                <h6 class="text-yellow  text-center  mt-3 mb-0">Gói quà 1 triệu đồng</h6>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <p class="text-white text-center">
                            Xin mời lựa chọn giải thưởng bạn mong muốn nhất!
                        </p>
                    </div>

                    <div class="text-center pt-3">
                        <button type="button" class="btn btn-warning rounded-lg " style="min-width: 120px;"
                            id="survey-result-btn">Xem kết quả</button>
                    </div>

                </div>


                <div class="text-center survey-loading pt-5 pb-5">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="collapse  " id="Collapse2">
                    <div class="mt-5 pt-4 pb-3" style="background: rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    border: 2px solid rgba(250, 255, 0, 0.3);">
                        <div class="text-center ">
                            <h5 class="text-yellow">Kết quả khảo sát</h5>
                        </div>

                        <div class="row align-items-center justify-content-center ">


                            <div class="col-6 col-md-4 order-1 order-md-2">
                                <div style="position: relative;">
                                    <canvas id="myChart" width="100%" height="100%" class="chart-canvas"></canvas>
                                </div>
                            </div>
                            <div class="col-12 order-1 d-md-none">&nbsp;</div>

                            <div class="col-6 col-md-4  order-2 order-md-1">
                                <div class="text-right">
                                    <!-- <img src="https://static.mservice.io/jk/lixi2/img/thequa/LACXi_ICON_HOP_QUA.png"
                                    width="80" class="img-fluid d-block mx-auto" alt=""> -->
                                    <h3 class=" mb-1" style="color: #93ca08;" id="numberReal1"> 0</h3>
                                    <p class="text-small">
                                      Người chọn <br> nhận ngay 1 triệu
                                    </p>
                                </div>

                            </div>

                            <div class="col-6 col-md-4  order-3 order-md-3">
                                <div class="text-left">
                                    <!-- <h3 class=" mb-1" style="color: #faff00;"> 75.67%</h3> -->

                                    <h3 class=" mb-1" style="color: #93ca08;" id="numberReal2"> 0</h3>
                                    <p class="text-small">
                                        Người chọn <br> cùng chia 10 tỷ
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="text-center mt-3">
                        <p class="text-white ">
                            Các voucher từ gói quà đặt biệt đang chờ đợi bạn. Nhanh tay Lắc MoMo để sưu tập trọn bộ
                            linh
                            thú, ghép thẻ vàng, rinh lộc triệu về nhà thôi!
                        </p>
                    </div>

                    <div class="text-center pt-3">
                        <button type="button" class="btn btn-warning rounded-lg " style="min-width: 120px;"
                            data-dismiss="modal">Cám ơn bạn</button>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>