
        <section class="s-lacxi-container  o-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"
        id="lacxi-gioithieu">

        <div class="container ">

            <div class="s-title h1 mt-0 mb-4 text-center">
                Thể lệ <span class="text-yellow">chương trình</span>
            </div>

            <div class="s-lacxi">

                <div class="row justify-content-center">
                    <div class="col-lg-10">


                        <div id="faq-accordion" class="lacxi-faq">
                            <div class="card mb-2 mb-md-3">
                                <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="true"
                                    class="lacxi-faq-cl">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-0 mr-2">Thời gian diễn ra</div>
                                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                            class="icon icon-sm" data-inject-svg>
                                    </div>
                                </a>
                                <div class="collapse show" id="accordion-1" data-parent="#faq-accordion">
                                    <div class="lacxi-faq-cont">
                                        Từ ngày <span class="text-primary-2">17/01/2020</span> đến ngày <span
                                            class="text-primary-2">14/02/2020</span> hoặc đến khi có thông báo
                                        chương
                                        trình kết thúc.

                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2 mb-md-3">
                                <a href="#accordion-2" data-toggle="collapse" role="button" aria-expanded="false"
                                    class="lacxi-faq-cl">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-0 mr-2">Đối tượng tham gia</div>
                                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                            class="icon icon-sm" data-inject-svg>
                                    </div>
                                </a>
                                <div class="collapse" id="accordion-2" data-parent="#faq-accordion">
                                    <div class="lacxi-faq-cont">
                                        <p>
                                            - Tất cả các khách hàng sử dụng Ứng dụng Ví MoMo, cập nhật phiên bản mới
                                            nhất

                                        </p>
                                        <p>
                                            - Khách hàng là Đại lý của Công ty Cổ Phần dịch vụ Di động trực tuyến
                                            (đang sử dụng Ứng dụng Ví MoMo Điểm giao dịch); sử dụng sim MLoad hoặc
                                            không thực hiện việc liên kết tài khoản ví MoMo với tài khoản ngân hàng
                                            KHÔNG được tham gia.
                                            Lưu ý: Khách hàng CHƯA LIÊN KẾT Ví MoMo với tài khoản Ngân hàng vẫn có
                                            thể tham gia chơi game Lắc xì nhưng KHÔNG NHẬN ĐƯỢC quà tặng và không
                                            thể sử dụng quà tặng
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="card mb-2 mb-md-3">

                                <a href="#accordion-3" data-toggle="collapse" role="button" aria-expanded="false"
                                    class=" lacxi-faq-cl">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-0 mr-2">Thể lệ chương trình
                                        </div>
                                        <img src="img/icons/interface/icon-caret-right.svg" alt="Caret Right"
                                            class="icon icon-sm" data-inject-svg>
                                    </div>
                                </a>

                                <div class="collapse" id="accordion-3" data-parent="#faq-accordion">
                                    <div class="lacxi-faq-cont">
                                        <p>
                                            - Khách hàng có Ví MoMo trên điện thoại thuộc hệ điều hành Android hoặc
                                            iOS đều có thể tham gia chơi game Lắc xì và thực hiện các nhiệm vụ để
                                            thêm lượt lắc.
                                        </p>
                                        <p>
                                            - Khách hàng Đã Liên Kết Ví MoMo với tài khoản Ngân Hàng có thể thực
                                            hiện "Gửi Lì Xì" nhiều lần để tăng thêm lượt lắc, tăng cơ hội nhận thêm
                                            nhiều phần quà giá trị từ chương trình.

                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    